[2014-05-07 19:50] jaydson opened #2 "Add public folder to .gitignore"
We must not track the public folder

[2014-05-08 05:06] #2 closed, assigned to nobody

[2014-05-08 21:12] jaydson opened #3 "Installation script for mac users"
We need to have an installation script for mac users

[2014-05-09 03:31] jonatanrdsantos opened #4 "detecting errors and problems"
would be a good idea add grunt, and use jshint for detect errors and potential problems?

[2014-05-12 04:54] jaydson opened #5 "Pagination support"
Harmonic must have pagination support for posts.

[2014-05-12 04:56] jaydson opened #6 "Plugins support"
Harmonic must have plugins support.

[2014-05-26 14:15] jaydson opened #9 "Tag/category page"
Harmonic must to support an page for each tag/category.
This page must to list all posts of the current tag/category.

[2014-05-29 03:48] #9 closed, assigned to nobody

[2014-05-29 03:49] jaydson opened #10 "Order posts by date"
Harmonic must to support order posts by date

[2014-05-29 04:53] #10 closed, assigned to nobody

[2014-07-07 05:36] jaydson opened #11 "Expose pages"
Harmonic must to expose generated pages meta-data.
This is useful for menu creation, etc.

[2014-07-07 05:37] jaydson opened #12 "Bind pages to the client"
Harmonic must bind pages to the client API.

[2014-07-07 05:39] jaydson opened #13 "CLI create_page"
Harmonic must have a command to generate a page.

[2014-07-07 05:41] jaydson opened #14 "Stylus documentation"
We need to create a guide about Stylus. How it was implemented and how users can create their own templates using Stylus.

[2014-07-07 05:44] jaydson opened #15 "Stylus at src root"
Consider use Stylus on _/src_ root avoiding code duplication.
The way Stylus was implemented today requires that every template implement the same logic.

[2014-07-07 05:46] jaydson opened #16 "Using another CSS pre-processor"
It will be awesome if Harmonic supports multiple CSS pre-processors.
I mean, each user can choose what he want to use by a simple configuration.

[2014-07-07 05:55] jaydson opened #17 "Finish the basic documentation"
Harmonic's wiki must have the basic documentation.

[2014-07-07 05:58] #4 closed, assigned to nobody

[2014-07-07 06:05] jaydson opened #18 "i18n support"
Harmonic must to support posts, pages, etc., in multiple languages.

[2014-07-09 16:19] leobalter opened #19 "build on `harmonic run`"
`harmonic run` could build files before starting a server.

Also, README.md could mention this or otherwise it could mention that is necessary to build before.

[2014-07-09 16:31] leobalter opened #20 "Get app version from package.json"
https://github.com/es6rocks/harmonic/blob/master/bin/cli/program.js#L5-L6

Should get app version from package.json, or live with one more code to bump

[2014-07-09 16:35] leobalter opened #21 "Set and fix code style"
there're files with 2 spaces indentation and others with tabs.

This project needs to set the code style to allow fixing.

[2014-07-09 16:46] leobalter opened #22 "Rename config.json to harmonic.json"
Make it clean that it contains harmonic settings.

[2014-07-09 19:33] #19 closed, assigned to nobody

[2014-07-10 04:23] #20 closed, assigned to nobody

[2014-07-10 04:58] jmurowaniecki opened #26 "Unexpected token *"
[code]

Installed with `npm install harmonic -g`, node version v0.10.2.

Pode ser que na documentação falte especificar algo do tipo: **Requer Node v0.10.29+** :smile:

[2014-07-10 05:26] #26 closed, assigned to nobody

[2014-07-10 05:31] jmurowaniecki opened #27 "Possible fail to initiate new blog and first post"
[code]

Despite the `cd newblog; harmonic config` runs ok.

[code]

Node version 0.11.13.

[2014-07-10 06:58] rssilva opened #28 "new_post destination folder"
Question: when adding a new post, the file it'll be created at '/src/posts/'. Should I copy and paste to the i18n folders to write the post? It seems a good approach, but maybe a documentation advice or an console line to explain to user it'll be helpful.

[2014-07-10 14:05] #22 closed, assigned to nobody

[2014-07-10 14:06] #18 closed, assigned to jaydson

[2014-07-10 14:37] #3 closed, assigned to nobody

[2014-07-10 14:55] jaydson opened #30 "Global module instead GLOBAL"
Create a module to share data between modules, targeting better organization.
This module always must to be included.

[2014-07-10 16:55] jaydson opened #31 "Run config when init called"
Make sense to prompt the configuration step when init called.

[2014-07-10 20:41] jaydson opened #32 "Static server doesn't work on windows"
It seems like we have a bug in node-static on Windows.

[2014-07-11 03:24] #31 closed, assigned to jaydson

[2014-07-11 06:36] #28 closed, assigned to nobody

[2014-07-11 13:37] #21 closed, assigned to nobody

[2014-07-12 05:15] rssilva opened #34 "Using Harmonic to blog on github pages"
I was working to use harmonic to manage my blog on gh-pages (http://rssilva.github.io/) and added a remote to 'public' folder, but then I realize that will be nice to have my posts (the .md files) versioned too. So, which do you guys think is the best way to do this?

[2014-07-13 04:08] #16 closed, assigned to atilafassina

[2014-07-13 04:09] #30 closed, assigned to nobody

[2014-07-14 21:09] soapdog opened #36 "Allow scheduled posts"
Scheduled posts can be implemented by tweaking `parser.generatePosts()` not to process files with `metadata.date` in the future.

This way you could create posts with dates in the future and not worry about them showing on the deployed site. I think this is useful for those that want to have daily generation of their site in a cronjob or similar task runner. My own personal website works like this

[2014-07-15 14:03] #36 closed, assigned to nobody

[2014-07-15 21:33] jaydson opened #40 "Remove posts"
Remove obsolete posts from ES6Rocks in /src/posts.
We don't need this anymore.

[2014-07-16 01:43] #40 closed, assigned to nobody

[2014-07-16 12:09] jonatanrdsantos opened #43 "Create the option to enable/disable gzip compression"
Create the option to enable/disable gzip compression for javascript is a good idea?
Was thinking of using the library [gzipme](https://github.com/caio-ribeiro-pereira/gzipme) of the @caio-ribeiro-pereira what think?

[2014-07-16 14:28] #11 closed, assigned to nobody

[2014-07-16 19:39] #32 closed, assigned to jaydson

[2014-07-19 23:02] #43 closed, assigned to nobody

[2014-07-21 20:29] jaydson opened #44 "Watch files"
Harmonic must have a watch feature, that means we'll be able to change src files without go back to the CLI to run the project again.

[2014-08-30 03:21] #27 closed, assigned to nobody

[2014-09-10 01:22] jaydson opened #45 "Wrong post path"
Posts paths are being generated incorrectly, with the current date.
The right path must use the post date (in post metadata).

[2014-09-10 02:16] #45 closed, assigned to jaydson

[2014-09-12 03:59] #12 closed, assigned to nobody

[2014-09-12 18:12] #13 closed, assigned to nobody

[2014-10-01 03:09] felipenmoura opened #47 "Writing mode, and 404 treatment"
When writing, we should be able to see the article in some kind of "writing mode".
I was writing and verifying it on the browser, it passed the midnight, changing the day from 09 to 10, and it simply became a blank page!! I had to figure out that the problem was the url, with /09/ in it.

We need a 404 page, perhaps with a list of last posts or something like this.

[2014-10-10 04:33] #17 closed, assigned to jaydson

[2014-10-14 23:31] UltCombo opened #49 "Support browser-sync?"
I see @jaydson has been working on the `watch` branch which, as far as I can see, regenerates the whole site when files are edited.

I believe it'd be optimal if we could refresh the browser after the new files are generated.

As far as I know, [BrowserSync](http://www.browsersync.io/) is the simplest way to achieve this. It does not require any browser plugins nor any modification to the pages.

[2014-10-15 02:35] UltCombo opened #50 "gh-pages branch"
Looks like Harmonic's current gh-pages branch (live at http://es6rocks.com/harmonic/) does not have much use. Maybe delete the branch, or start it over using Harmonic itself to generate the pages?

[2014-10-15 02:56] UltCombo opened #51 "First `harmonic run` (after `harmonic init`) always fails"
The first `harmonic run` (after `harmonic init`) simply dies after "Successfully generated CSS with Stylus preprocessor", subsequent runs of `harmonic run` run fine.

Tested in Windows 7 x64, Node 0.11.13, Harmonic's latest master.

[2014-10-15 03:07] UltCombo opened #52 "jshint fails in `npm test`"
[code]

Looks like JSHint CLI does not support pattern/globs. Or am I doing something wrong?

[2014-10-15 03:20] UltCombo opened #53 "Promise anti-patterns"
Looks like there's a fair bit of synchronous code wrapped in Promises, when it'd be better to simply return the value directly.

That is, instead of returning a Promise which resolves synchronously, it'd be better to return the value directly inside of `.then()` callbacks. When the returned value is not a Promise, it is implicitly coerced to a Promise whose fulfillment value is that of the given r

[2014-10-15 03:41] UltCombo opened #54 "generateRSS fs.exists check"
The [`fs.exists` call in generateRSS](https://github.com/es6rocks/harmonic/blob/f13a81d0a49aea9341d0529bba84fa27d17e99ed/bin/parser.js#L601) is currently superfluous as far as I can see -- the callback executes regardless of whether the file exists or not. The callback should receive a boolean argument indicating whether the file exists or not (see [example](http://nodejs.org/api/fs.html#fs_fs_exi

[2014-10-15 04:02] UltCombo opened #55 "generateTagsPages early/multiple resolution"
In generateTagsPages, `resolve()` is [called here](https://github.com/es6rocks/harmonic/blob/f13a81d0a49aea9341d0529bba84fa27d17e99ed/bin/parser.js#L320) inside of [`for (lang in postsMetadata)` loop](https://github.com/es6rocks/harmonic/blob/f13a81d0a49aea9341d0529bba84fa27d17e99ed/bin/parser.js#L280), meaning it is called more than once and earlier than it should. A promise can't be resolved mor

[2014-10-15 04:05] UltCombo opened #56 "copyResources fulfillment value"
Currently, [`copyResources` resolves to a string](https://github.com/es6rocks/harmonic/blob/f13a81d0a49aea9341d0529bba84fa27d17e99ed/bin/parser.js#L388) which is simply discarded. I believe it should be a `console.log(clc.info('Resources copied'));` instead?

[2014-10-15 04:24] UltCombo opened #57 "Use native Promise"
Node.js added native Promise support in version 0.11.13.

We could try using the native Promise, but I'm not sure how stable/spec-compliant it is.

[2014-10-15 04:45] UltCombo opened #58 "helper.parsePages earlier resolution"
`resolve()` is being called inside of the loop, also it is not waiting until all async `writeFile` operations finish.

[2014-10-15 05:38] UltCombo opened #59 "`harmonic init` wrong `posts_permalink` in harmonic.json"
Running `harmonic init`, I get a `harmonic.json` file containing:

[code]

When I would expect:

[code]

This generates problems in the posts listing.

[2014-10-15 06:04] #59 closed, assigned to nobody

[2014-10-15 15:03] #54 closed, assigned to nobody

[2014-10-15 15:09] jaydson opened #61 "Pages content is broken"
The pages build is broken.
There's something pretty odd, and all pages content looks link this:
`function (err) { if (err) { throw err; } console.log( clc.info('Successfully generated page ' + pagePermalink) ); }`

[2014-10-15 15:23] #55 closed, assigned to nobody

[2014-10-15 15:23] #56 closed, assigned to nobody

[2014-10-15 15:24] #58 closed, assigned to nobody

[2014-10-15 15:44] #61 closed, assigned to nobody

[2014-10-15 15:48] UltCombo opened #62 "Empty tags and categories"
Looks like Harmonic is generating an empty tag archive when a given post has no tags.
A similar problem happens with categories, it generates a category link to a category whose name is an empty string.

[2014-10-15 16:19] jaydson opened #63 "Unit tests"
Create unit tests for Harmonic.

[2014-10-15 17:06] UltCombo opened #64 "Better error message when running `harmonic run`/`config` on a non-Harmonic directory"
Right now, running `harmonic run` on a directory that hasn't been `harmonic init`'d yet simply throws an error (as expected). We could test to see if the `harmonic.json` file exists, and if not, display a more helpful message.

[2014-10-15 17:22] jaydson opened #65 "Default theme"
Create a basic default theme the for harmonic.
Today, we have the ES6Rocks theme by default, that's not good.
We need a basic theme with some info about Harmonic, docs, etc.

[2014-10-15 20:23] #64 closed, assigned to jaydson

[2014-10-15 21:46] #52 closed, assigned to nobody

[2014-10-16 04:16] UltCombo opened #68 "`harmonic init`/config: list available preprocessors instead of asking user to type"
Prompting from a list of choices, such as [Inquirer.js's List prompt](https://github.com/SBoudrias/Inquirer.js/#list----type-list-), would be useful for the preprocessor selection.

I guess [co-prompt](https://github.com/visionmedia/co-prompt) does not support this feature.

[2014-10-16 16:36] atilafassina opened #69 "SASS support"
There's already support for Stylus and LESS, it would make sense to support natively also SASS.

Currently SASS has 2 compilers:

- [LibSASS](http://libsass.org/) - a C++ compiler that is also supported fully with [Node-SASS](https://github.com/sass/node-sass)
- [SASS](http://sass-lang.com/) - the original compiler, where features land first and has bigger community support

To add SASS support, w

[2014-10-16 22:12] UltCombo opened #70 "Harmonic templates"
As per #69 discussion, the default template will only be maintained in Stylus.

Right now, we have a second template in this repository which is a rewrite of the default template in LESS by @robsonaraujojunior. The idea is to relocate this template (and the new templates that will be written in the future) to a "template library".

I believe we can create a "harmonic-templates" repository for thes

[2014-10-16 23:18] UltCombo opened #71 "harmonic.json in the root of this repository"
Does this [`harmonic.json` file](https://github.com/es6rocks/harmonic/blob/master/harmonic.json) serve any purpose? As far as I can see, the Harmonic static site generator is not a Harmonic site.

[2014-10-16 23:23] #71 closed, assigned to nobody

[2014-10-18 22:54] UltCombo opened #72 "Templates and preprocessors coupling"
Currently, `harmonic init`/`config` asks for both a template and a preprocessor. However, as previously discussed, each template will only be written with a single preprocessor.

In this case, it does not make much sense to have independent template and preprocessor choices at the moment. That is, what happens if the user chooses the `default` template (which is written in Stylus) and chooses Sass

[2014-10-19 08:13] UltCombo opened #73 "i18n Pages"
Currently, `harmonic new_page` correctly generates a new markdown file inside each `src/pages/[lang]`, but `harmonic build` will only output a single rendered version. It looks like all languages are being written to the same location and overwrite each other.

That is, the pages are written to `public/pages/[slug]/index.html` when it should be `public/pages/[lang]/[slug]/index.html`.

Also, shoul

[2014-10-19 18:42] #63 closed, assigned to nobody

[2014-10-20 17:24] jaydson opened #76 "Using ES6 modules"
Node's CommonJS implementation is awesome.
But, one of Harmonic goals is push ES6 forward, using its new features when possible, testing, etc.
We can try to use ES6 modules on Harmonic with:
https://github.com/esnext/es6-module-transpiler
https://github.com/ModuleLoader/es6-module-loader

cc:// @UltCombo

[2014-10-26 04:50] UltCombo opened #77 "Add coveralls support"
It would be nice to have Coveralls to measure our test coverage.

Though, we may have to rewrite the tests which use `child_process.spawn` to be caught by the coverage tools. Or, just apply the coverage to our actual unit tests (not the CLI ones).

[2014-11-01 00:51] #53 closed, assigned to nobody

[2014-11-01 00:52] #57 closed, assigned to nobody

[2014-11-01 01:10] UltCombo opened #78 "`harmonic unknowCommand` fails silently"
For instance, running:

[code]

Simply fails without any error message. Perhaps an unknown/unsupported command message would be more suitable?

[2014-11-01 01:28] #78 closed, assigned to nobody

[2014-11-01 02:45] UltCombo opened #79 "Refactor CLI tests to not use child processes"
This will be beneficial for #77, as well as providing much faster unit tests (useful for developing in `watch` mode).

[2014-11-01 02:50] UltCombo opened #80 "Replace GLOBALs with a dedicated store"
This shall aid testing as well.

[2014-11-02 00:59] jaydson opened #82 "Auto-complete sub-commands"
It'd be great having subcommands suggestion on command line.
https://www.npmjs.org/package/autocmdr is an option.

[2014-11-02 03:35] jaydson opened #83 "ES6 Shim"
Find the best way to use @paulmillr's es6-shim (https://github.com/paulmillr/es6-shim/).
I think we need this shim working everywhere without requiring it.

[2014-11-02 04:02] #83 closed, assigned to nobody

[2014-11-05 16:36] UltCombo opened #84 "Add timezone setting"
Currently, the generated files' timestamps' timezone is dependent on the OS.

This a problem when team members in different timezones build and deploy the site -- that is, Harmonic will generate [timestamps with different timezones](https://github.com/es6rocks/es6rocks.github.io/pull/16/files#diff-8747daff4d3bd9138b6e3323678c6feaL366) when building the site in different computers.

Hence, I propos

[2014-11-10 16:56] UltCombo opened #85 "Add translator metadata to posts"
I believe translators deserve some credit, and this [PR](https://github.com/es6rocks/es6rocks.github.io/pull/25/files#diff-0297d60ec0e21354dae3f7499807e6b0R14) gave me the idea of supporting `translator` fields in the posts metadata.

Perhaps we can add not only the `translator` name, but a `translatorLink` and `translatorPicture` as well too. I believe the hardest part will be editing the templat

[2014-11-11 16:55] UltCombo opened #86 "Fix watch task"
The `grunt watch` task is not working properly, it seems to be due to the `mochaTest` task.

I'm rewriting the watch task in gulp, but there are still some blocking issues:

- [x] https://github.com/mimetnet/node-stream-array/pull/1 / https://github.com/floatdrop/gulp-batch/pull/9
- [x] https://github.com/jscs-dev/gulp-jscs/pull/46
- [x] https://github.com/jscs-dev/gulp-jscs/issues/47 / https://gi

[2014-11-13 22:16] UltCombo opened #87 "Front-end ES6 transpiler"
Right now, [Harmonic uses Traceur](https://github.com/es6rocks/harmonic/blob/9e172919ee57a4c6ed78edce42f8e3b638675c11/src/bin/parser.js#L259-L290) to transpile the front-end scripts.

Should we switch it to 6to5? This way we can drop the Traceur dependency and utilize the same transpiler in both back-end and front-end scripts.

[2014-11-14 00:09] UltCombo opened #88 "Only latest 10 articles are being shown in the index"
https://github.com/es6rocks/es6rocks.github.io/commit/1015b75f951cbff9384135607a8f2b31fc4c9ed7#commitcomment-8566229

[2014-11-17 22:30] #85 closed, assigned to nobody

[2014-12-07 21:23] UltCombo opened #90 "Improve readme header layout"
Right now, the Readme's header looks like this:

![](http://i.imgur.com/35RLvp7.png)

---

It looks a bit messy, IMO. I propose joining the badges in the same line and floating the Harmonic logo:

![](http://i.imgur.com/4heYRY5.png)

---

The issue with the proposal above is that GitHub's CSS applies a border-bottom to `<h1>` which overlaps with the floated image. So here's an alternative proposal

[2014-12-08 02:57] jaydson opened #91 "child_process: customFds option is deprecated, use stdio instead"
Every time i run `harmonic` i get this message.

[2014-12-08 03:14] #90 closed, assigned to nobody

[2014-12-08 21:40] jaydson opened #93 "[dev] Grunt and npm link"
Every time i build Harmonic with `grunt`, the global `harmonic` disappear from the path, so i must to run `npm link`.

[2014-12-09 17:50] jaydson opened #94 "Unable to use template strings"
Unfortunately, we can't use template strings due to jscs issues.
We have a lot of code concatenation and we can improve the code by using template strings.

What can we do?
Disable jscs?

Suggestions are welcome.

//cc @leobalter @UltCombo

[2014-12-09 19:49] #51 closed, assigned to nobody

[2014-12-10 04:31] UltCombo opened #95 ""skeleton started at" path"
Right now, if you run `harmonic init` (without the `path` parameter), the message will read:

Should we show the absolute path instead of a relative one?

[2014-12-10 12:27] jaydson opened #96 "Using Harmonic programmatically"
We can turn Harmonic into a module that can be loaded locally, so other modules can use it programmatically.
Example:

[code]

I think that feature will be helpful in some way.

[2015-01-03 11:08] UltCombo commented on #91
This is an issue with v8-argv, here's the [source](https://github.com/logicalparadox/v8-argv/blob/ad05c00a0b2fff46d6d9d0420ddfe508e3e5348f/index.js#L48).

Reported issue: logicalparadox/v8-argv#3

[2015-01-03 11:16] #86 closed

[2015-01-03 11:16] #87 closed

[2015-01-03 11:38] UltCombo opened #99 "`harmonic run` automatically open default browser"
It would save a bit of time if `harmonic run` opened `localhost:port` in the default browser.
Perhaps `harmonic run` could also take a flag to not open a browser window.

[2015-01-03 11:59] UltCombo commented on #93
@jaydson please try the [npm-link branch](https://github.com/es6rocks/harmonic/tree/npm-link) and see if it fixes this issue. `=]`

[2015-01-04 01:09] jaydson commented on #91
Great.
I saw your PR, let's wait for the approval on v8-argv project?
I mean, now we're transpiling the code. Is v8-argv yet necessary?
Questions questions :p

[2015-01-04 01:14] UltCombo commented on #91
We're using Node's native generators, that's why we need v8-argv to add the `--harmony` flag.

[2015-01-04 01:16] jaydson commented on #99
Great idea :+1:

[2015-01-04 01:21] jaydson commented on #91
Yes, but we're using native generators because i started this way.
My point here is we're transpiling everything, and generators can be transpiled too, and we don't need to force the "user" to have 0.11.* node env.

PS1: I don't think is bad thing to have node 0.11.* as requirement
PS2: For sure native generators are better than transpiled

[2015-01-04 01:27] UltCombo commented on #91
Thing is, even if we transpile generators, we won't be able to use co and co-dependent libraries unless they were transpiled too.

Right now, Harmonic depends on co-prompt, so transpiling only the Harmonic code wouldn't work in older Node versions as co-prompt uses native generators.

[2015-01-04 01:37] jaydson commented on #93
Working perfectly :+1:

[2015-01-04 01:57] #93 closed

[2015-01-04 02:49] #95 closed

[2015-01-04 03:20] UltCombo commented on #95
Nice :+1:

[2015-01-04 04:01] mateusortiz opened #101 "create site of harmonic"
Think it would be cool and interactive the site of harmonic, with documentation, introduction of installing and showing any project.

Example DocPad documentation. :smile:

[2015-01-04 05:34] jaydson commented on #47
That's a good idea to have some "writing mode" as you suggest.
Perhaps i don't think this is a bug, is the default behaviour.

About the 404 page, this is not possible in a static environment.

[2015-01-04 18:45] jaydson commented on #99
I started to work in this feature.
You can check the following branch: https://github.com/es6rocks/harmonic/tree/open

Feature:
`harmonic run` opens the default browser pointing to the website URL (localhost + port)
`harmonic new_post` opens the markdown file for the post(s) in the default text-editor
`harmonic new_page` opens the markdown file for the page(s) in the default text-editor
This featu

[2015-01-04 23:22] UltCombo commented on #99
@jaydson Very nice work! :+1:
Working nicely here. :smile:

Couple nitpicks:

- Naming: perhaps add an underscore (`allow_open`) to keep consistency with other config names (`posts_permalink`, `pages_permalink`, `header_tokens`, `index_posts`...). Also, can we make the config name clearer? I guess `auto_open` would make more sense than `allow_open` in this context.

- A `harmonic.json` option is o

[2015-01-05 04:01] jaydson commented on #99
Thanks for reviewing @UltCombo :+1:
`allow_open` makes a lot of sense, i'll change it.
"Per-developer preference" seems to be the best approach, i'll also do it.

[2015-01-05 04:21] jaydson commented on #99
Actually, let's keep just the "per-developer preference" option, in the CLI with `--no-open` and it opens by default.

[2015-01-05 04:25] UltCombo commented on #99
:+1:

For those that don't like specifying flags every time, we could support supplying configs through a `.harmonicrc` file, using the [`rc`](https://www.npmjs.com/package/rc) package. Of course, we can leave that for the future when we have more per-developer preferences. :smiley:

[2015-01-05 12:13] jaydson commented on #99
Cool.
And where you think this `.harmonicrc` file must stay?
One `.harmonicrc` per generated Harmonic project?
One `.harmonicrc` per Harmonic installation?

[2015-01-05 12:19] UltCombo commented on #99
It may be placed in any of the [standard places](https://github.com/dominictarr/rc#standards), the rc package handles loading those automatically. The user usually creates the file manually  where prefer.

[2015-01-05 12:34] UltCombo commented on #99
But I believe we don't have to worry about it for now, can open another issue to track this.

[2015-01-07 01:22] jaydson commented on #99
I need some help here.
I'm not finding any way to run the tests, and it always fails because by default we're opening files/urls.
Any thoughts?
I have pushed the current code to the branch `open`.

[2015-01-07 03:53] UltCombo commented on #99
Is this the failing test?

[code]

For some reason it is failing in the master branch now too.

[2015-01-07 04:05] UltCombo commented on #99
Ah wait never mind, I had added the `--no-open´ flag to the tests but it was failing because Commander.js was not configured to accept it:
[code]

I checked out to the master branch without resetting the test files so the error persisted.

[2015-01-07 07:11] UltCombo commented on #99
@jaydson should be fixed now, please review/test https://github.com/es6rocks/harmonic/commit/ea3ec9a4c042872b72949bf44864b5e252d6dbd3
Feel free to merge too. `=]`

[2015-01-07 10:09] UltCombo commented on #99
Pushed a few more fixes to the `open` branch, please take a look when you have time.

[2015-01-07 12:18] jaydson commented on #99
Awesome! Thanks @UltCombo
I'll check it asap.

[2015-01-07 12:44] jaydson opened #103 "Disable JSHint and JSCS"
Harmonic's main goal is to be an _Static Site Generator_ built with ES6(ES7?), exploring new features, finding bugs in the spec and help to evolve the language.
Harmonic's current configuration and work-flow doesn't match with the target, because both JSHint and JSCS have issues with the new and future spec.
I think we need to disable those tools by now and focus on what really matter.
In the near

[2015-01-07 12:52] UltCombo commented on #103
I personally don't care much either way -- although I believe keeping a consistent coding style is important, I can also see that a lot of time is wasted struggling with those tools at the moment.

I believe we can just monitor ourselves (while writing code & reviewing PRs) in order to keep the current coding style.

[2015-01-07 23:40] randsonjs commented on #101
+1 for this!

The website of DocPad it's so cool! :smile:

[2015-01-08 13:18] joridos commented on #101
:+1: good idea, we have this http://es6rocks.com/harmonic/ but with small informations.
One site with docs, get started and much more is awesome, something like this http://yeoman.io/

[2015-01-09 16:11] UltCombo commented on #99
@jaydson I've done some testing and everything looks ok. Please test it as well (check if build is passing etc.) then we can merge. `=]`

[2015-01-12 03:07] mateusortiz commented on #101
I'm still working on it, but now to discuss some topics.

first that I am not a designer, just trying to help, we can change everything if you think differently :D

First mockup is the home page, with a basic explanation of how it works and how to install and start a project using Harmonic.

![Mockup home page](http://cl.ly/image/0n3U1n0V3w2G/harmonic.png)

and this second mockup is the docs page,

[2015-01-18 16:40] mateusortiz commented on #101
What do you think @jaydson?, we have to improve a lot yet.

[2015-01-20 17:57] jaydson commented on #99
I'm still having similar issues:

1) CLI should display an error for unknown commands:     Uncaught AssertionError: expected 'child_process: customFds option is deprecated, use stdio instead.\nmodule.js:338\n    throw err;\n          ^\nError: Cannot find module \'gulp-6to5/node_modules/6to5/polyfill\'\n    at Function.Module._resolveFilename (module.js:336:15)\n    at Function.Module._load (modul

[2015-01-20 18:02] UltCombo commented on #99
The error you're getting is:

If you run `npm install` in the Harmonic repository, does it install `gulp-6to5` in the `node_modules` dir?

If not, then perhaps you have `gulp-6to5` in a `node_modules` dir higher up in your directory hierarchy, in that case we can/should add 6to5 as a direct dependency.

[2015-01-20 18:04] UltCombo commented on #99
I'll open a PR to see if Travis throws any error.

[2015-01-20 18:07] jaydson commented on #99
Yes, i have `gulp-6to5` in the `node_modules` dir.

[2015-01-20 18:11] UltCombo commented on #99
Ohh, you most likely have `6to5` in a `node_modules` dir higher up in your directory hierarchy then, so npm doesn't install it again.

In that case we should add a direct dependency to 6to5 in order to prevent running into these cases. Though, we only need the polyfill, so there might be a better option.

[2015-01-20 18:23] UltCombo commented on #99
Nope, Travis build is also failing. Let's continue the discussion at #104

[2015-01-21 01:39] jaydson opened #105 "async/await"
I'm trying to use async/await(es7) (experimental feature in 6to5) but i'm not sure gulp-6to5 is working.
I've changed `build.js` file:
[code]
My sample code:
[code]
And i get the following error:
`events.js:85
      throw er; // Unhandled 'error' event
            ^
/home/jaydson/Workspace/harmonic/dist/bin/parser.js:19
async function test() {
      ^^^^^^^^
SyntaxError: Unexpected token function

[2015-01-21 02:44] jaydson commented on #105
I found the issue.
It seems like the config property `6to5` in `build.js` is being ignored.
I changed the `gulpfile` to this:
[code]
instead of this:
[code]
and it works.

Probably the blacklisted `generators` never were blacklisted until now.

[2015-01-21 05:16] UltCombo commented on #105
Weird. I'm pretty sure co-prompt was throwing errors when we transpiled generators.

@jaydson can you try editing `build.js` to:

[code]

And check if it works?

[2015-01-21 05:22] UltCombo commented on #105
Weird. I'm pretty sure co-prompt was throwing errors when we transpiled generators.

It looks like the async functions transform converts them to generators, so async functions transform doesn't work/is ignored when we blacklist generators. I believe this makes sense, anyway, @sebmck can you confirm?

@jaydson change the `build.js` to remove generators from the blacklist and enable experimental:

[2015-01-21 05:23] UltCombo commented on #105
If that's the issue, then we can replace co-prompt with Inquirer then remove generators from the blacklist and use asnyc functions. :smile:

[2015-01-21 05:24] sebmck commented on #105
Async functions and generators are transformed in the same transformer (it's delegated to regenerator). It's confusing but since 3.0.0 is going to include a [regenerator fork](https://github.com/6to5/regenerator-6to5) it'll allow it to be split up into multiple transformers.

[2015-01-21 05:29] UltCombo commented on #105
@sebmck oh nice! Thanks for the clarification. :smile:

[2015-01-21 16:06] jaydson commented on #105
@UltCombo both `'6to5': { experimental: true },` and `'6to5': { blacklist: ['generators'], experimental: true },` works in the same way.

[2015-01-21 16:15] UltCombo commented on #105
@jaydson I believe `blacklist: ['generators']` disables the async transform as @sebmck explained.

Doesn't `'6to5': { experimental: true }` work? It fails to transpile async functions or throws some specific error?

[2015-01-21 16:23] #99 closed

[2015-01-21 16:37] jaydson commented on #105
Oh, now i got it.
`'6to5': { experimental: true }` works (transpile async functions).
We can remove generators from the blacklist :)

[2015-01-21 16:43] UltCombo commented on #105
Oh nice. `:)`

Btw, the whole idea behind the `build.js` file is to have project-specific settings outside of the gulpfile, so that whenever we update the gulpfile we can seamlessly copy it to the slush-es6 repository forth and back. This way we can pull updates from slush-es6 by simply copying the files over.

Of course, in the future Harmonic may need a more complex gulpfile than slush-es6's, bu

[2015-01-21 16:53] UltCombo commented on #105
@jaydson also, please test `harmonic init` before committing the changes.

IIRC, co-prompt was throwing an error when we passed a [transpiled generator](https://github.com/es6rocks/harmonic/blob/df929ae19502e5aec5dbdebada09ea56d15df6ec/src/bin/cli/util.js#L58) to it.

As we've discussed earlier, we can't transpile generators to regenerator as `co` and `co-*` libs are not transpiled (they work wit

[2015-01-21 16:55] UltCombo commented on #105
There's probably regenerator'ed versions of `co` out there, but if we're using it only for the CLI input we can easily replace it with Inquirer and drop `co`. What do you think?

[2015-01-23 01:33] jaydson commented on #105
I think we can replace `co` and focus on `async/await`.

Weird thing is i've tested `harmonic init` and it worked well. I'm probably missing something.

[2015-01-23 01:38] UltCombo commented on #105
@jaydson perhaps it was an issue with one of our dependencies that got fixed. Never mind it if it is working as expected for you. `:D`

:+1:

[2015-01-25 01:43] UltCombo opened #106 "Support more Node.js versions"
If I recall correctly, @jaydson and I have agreed that we can transpile all ES2015+ features to ES5 and drop the Node.js 0.11 and `--harmony`/`v8-argv` dependencies.

But before we start working on that, we should have a defined goal -- which engine versions will Harmonic support? I vote for:

- Stable Node.js >= 0.10;
- Latest unstable Node.js (currently 0.11.x);
- Latest io.js.

In my opinion, N

[2015-01-25 05:52] UltCombo commented on #96
How should the API look like?

Rough idea I had:

[code]

I believe we should give this some priority, so we can write tests for the API instead of using child processes. This way we can throw more meaningful errors without as much effort, and the tests will run much faster which is great for the incremental build workflow (`npm run dev`) giving faster feedback.

[2015-01-26 13:12] jaydson commented on #106
Harmonic is a bleeding edge project.
I totally agree with you, we don't need to support old node versions.

[2015-01-26 13:34] UltCombo commented on #106
So, what support should we aim for? Node 0.10+? I can work on a patch later tonight.

[2015-01-26 13:49] jaydson commented on #106
Yep, Node 0.10+

[2015-01-27 01:59] #106 closed

[2015-01-27 02:16] jaydson opened #108 "List ES2015(ES6)/ES2016(ES7) features Harmonic is using"
It would be interesting/useful have a list of new ES features we're using in Harmonic.
Maybe a `markdown` file with a brief feature description and links to the lines where that feature appears.
Example:
__Named Imports__
https://github.com/es6rocks/harmonic/blob/master/src/bin/parser.js#L2

I think with this simple file we'll have a great indexed ESX resouce in the future.

[2015-01-27 02:42] UltCombo commented on #108
Line numbers might be hard to keep updated, seeing as the source code is always changing. I'd suggest either:

- Link to specific line numbers in specific revisions, e.g. https://github.com/es6rocks/harmonic/blob/b82c1e2c5175ed2bd117d293424bf108bb7fe446/src/bin/parser.js#L2
- Link to latest revision but don't add line numbers.

[2015-01-27 02:50] jaydson commented on #108
Well pointed.
Perhaps linking the file and put some real example is the best approach.
If the code change we can update the example if we want.

[2015-01-27 02:52] UltCombo commented on #108
:+1:

[2015-01-27 03:09] UltCombo commented on #101
Here's my .02

Some things that should be considered:

- **Identity.** A homepage is the identity of the product, having a subpar site affects the image of the product negatively. Designing a good visual identity is no easy task -- theme colors, fonts, spacing, behavior, the overall feel and UX are serious factors and I don't know any web designer willing to do this for free. Sure we can fork an e

[2015-01-27 03:43] mateusortiz commented on #101
Hello,
I managed to find a designer, and he makes free website design :+1:

[2015-01-27 13:27] jaydson commented on #101
The website must be just an information page.
Docs must to be just linked and not replicated(link to Harmonic's Wiki).

@mateusortiz , we already have a designer working on Harmonic design >>> @italowaxman, please handle this with him, ok?
@robsongajunior , we need your help here to get this done.

[2015-01-27 13:43] UltCombo commented on #101
Makes sense, docs should be centralized in a single place. I was wondering whether it should be in the site or in the Wiki -- the site could display the docs in a nicer format, but the Wiki allows everyone to contribute to in a far easier way.

[2015-01-27 13:51] mateusortiz commented on #101
I am already creating a project with Italo, so I'll talk to him about the harmonic today yet :+1:

the gulpjs.com/ linked docs in their own github

[2015-01-27 14:03] robsongajunior commented on #101
Great, we already scheduled a call later this week to discuss about it.

[2015-01-27 14:41] italowaxman commented on #101
Designer here! Wednesday or Thursday we can make a hangout what do you think?

[2015-01-27 15:49] mateusortiz commented on #101
Yeap @italowaxman, mark for Wednesday or Thursday?

[2015-01-27 23:26] jaydson commented on #91
Hey, this issue was solved by one of your commits.
It was on purpose or an accident?
Anyway, good job :+1:

[2015-01-27 23:46] #103 closed

[2015-01-28 01:00] UltCombo commented on #91
On purpose, yes -- #106 removed the v8-argv dependency which was causing the issue.
I forgot to write it in the PR, then I reminded about it when I was away from the computer and ended up forgetting again hah.
Thanks for confirming that it is fixed. :+1:

[2015-01-28 01:00] #91 closed

[2015-01-28 01:02] jaydson commented on #91
great!

[2015-01-28 21:41] UltCombo opened #110 "Switch to rapid release publishing"
I've talked with @jaydson briefly about this, a rapid release approach has many pros:

- Users are able to consume new features and significant bug fixes soon after they're implemented;
- The feedback loop between users and developers is sped up drastically;
- Rapid releases make the project more active and "alive", having a positive effect on the community around the project by allowing users to

[2015-01-28 22:29] jaydson commented on #110
Let's do it.
Rapid releases may be the best for users and for Harmonic.

[2015-01-28 22:30] UltCombo commented on #110
Nice! :+1:

[2015-01-28 23:03] UltCombo commented on #110
We just have to decide how to handle the publishing workflow then.
You could keep handling it by yourself publishing new releases when you see fit, or `npm owner add ult_combo harmonic` if you want to share the responsibility. :smile:

[2015-01-29 00:20] italowaxman commented on #101
Thursday at 16:00, it's ok?

[2015-01-29 01:43] jaydson commented on #110
Let's keep we both as responsible for publishing Harmonic's new releases.
I've added you as owner on npm.

[2015-01-29 01:43] UltCombo commented on #110
Thanks. `:D`

[2015-01-29 01:43] #110 closed

[2015-01-29 03:10] mateusortiz commented on #101
@italowaxman :+1:

[2015-01-29 13:28] robsongajunior commented on #101
@italowaxman  (Y)

[2015-01-29 17:06] robsongajunior commented on #101
I spoke to italo, he suggested 18:00 on Friday(tomorrow).
All right for everyone?

cc/ @mateusortiz @italowaxman

[2015-01-29 17:23] mateusortiz commented on #101
:+1:

[2015-01-30 00:15] jaydson commented on #94
Solved by #109

[2015-01-30 00:15] #94 closed

[2015-01-30 00:17] UltCombo commented on #94
Nice! :+1:

[2015-01-30 00:38] jaydson commented on #50
I think with this new issue #101 we can move forward and delete that branch, right?

[2015-01-30 00:43] UltCombo commented on #50
I believe so. `=]`

[2015-01-30 00:47] jaydson commented on #50
`gh-pages` branch removed.

[2015-01-30 00:47] #50 closed

[2015-01-30 00:48] UltCombo commented on #50
:+1:

[2015-01-30 01:03] jaydson commented on #49
Did you had time to test it?
This still a great feature :)

[2015-01-30 01:05] jaydson commented on #44
I'll close this issue so we can focus on #49

[2015-01-30 01:05] #44 closed

[2015-01-30 01:09] UltCombo commented on #49
Oh my bad, I ended up without time to test it back then.
This is still a great idea, I'll probably try to implement it this weekend.
I intend to finish writing the [TDZ post](https://github.com/es6rocks/es6rocks.github.io/blob/tdz/src/posts/en/temporal-dead-zone-tdz.md) and publish a stable slush-es6 version ASAP, then I'll have time to go through these Harmonic issues.

[2015-01-31 01:43] jaydson commented on #49
:+1:

[2015-01-31 17:14] UltCombo opened #111 "Run harmonic commands in subdirectories of an Harmonic site"
## Use case

Assume I've created an Harmonic site at `/site/`.
After fiddling a bit in the terminal, my CWD is `/site/posts/en/`.
If I try to run any Harmonic command (e.g. `harmonic run`) it will throw the "this is not an Harmonic project yet" error.

---

I believe we can walk up the directory hierarchy to find the closest `harmonic.json` file and assume it is the root of the Harmonic site. This

[2015-01-31 19:49] UltCombo commented on #49
I was about to propose a `--no-cache`/`--dev` flag to `harmonic run` to aid writing articles, but then I just realized that implementing browser-sync would make such feature redundant hah.

I still have some more stuff to do around GitHub, but once I get back to Harmonic, browser-sync will be a top priority.

[2015-01-31 20:20] UltCombo commented on #96
IMO we should make an API asap, expose it to users to experiment and gather feedback, then release Harmonic 1.0.0. From then on, we can follow semantic version. What do you think @jaydson?

[2015-01-31 20:22] UltCombo commented on #49
I've imported the [priority labels](https://github.com/jshint/jshint/labels) from JSHint, by the way.

[2015-01-31 21:39] UltCombo opened #112 "Author picture - support Gravatar"
Right now, authors have to specify a URL to their [`profilePicture`](https://github.com/es6rocks/es6rocks.github.io/commit/c4c9331fe2d874dff6550d94b4f90c4ccdfbb825#diff-9124020059a9ba2f53479ce7e28ea047R13).

Perhaps we could add a [Gravatar](https://en.gravatar.com/) option?

[2015-01-31 21:44] UltCombo commented on #112
Of course, one could enter the gravatar hash URL directly in the profilePicture, but that's not very user friendly. Perhaps we could support the format:

[code]

Or similar.

[2015-02-01 23:08] UltCombo commented on #76
6to5 v3+ did a very nice job with its CJS interop implementation. I no longer oppose importing native CJS with ESM syntax.

@jaydson feel free to write `import fs from 'fs';` and such if you'd still like to. :smiley:

[2015-02-02 00:56] jaydson commented on #76
Wow, that's awesome!

[2015-02-02 19:23] UltCombo opened #113 "Build should use different 6to5 configs for front-end scripts"
The bug was introduced by 8062f95e3646d3d607a9bea2666252086eee08f9's usage of `optional: ['selfContained']`.

The issue is that `src/bin/client/harmonic-client.js` is being transpiled with the same settings as the Node.js scripts.

Possible solutions:

- Make slush-es20xx's `build.js` plugin configs take an array of objects containing paths and options (perhaps this is too much grunt-like?)
- Reve

[2015-02-02 19:43] UltCombo commented on #113
Guess I'll remove the ES6 syntax from `harmonic-client.js` to work around the issue for the time being, until slush-es20xx supports back-end and front-end transpiling in the same project.

[2015-02-02 20:09] UltCombo commented on #113
Lowering priority now that an workaround has been implemented -- b040ba46b3c3af53d35ba9248091cf32fca12a9b

[2015-02-02 20:29] UltCombo commented on #113
@jaydson perhaps you can provide some ideas here? Let me explain the history behind this:

- 3 months ago or so, the `harmonic-client.js` file was shipped as ES6 code and `harmonic build` would inline the site data inside `harmonic-client.js` and transpile it to ES5.

- This means Harmonic had a direct dependency on the transpiler (Traceur back then) as `harmonic build` had to compile the `harmoni

[2015-02-03 00:21] jaydson commented on #113
I bet on Harmonic taking care of JavaScript both on client and server.
I'm looking forward the new version of slush-es20xx.

One thing we need to do is unlink templates from Harmonic.
We need to provide tools for developers build templates.

[2015-02-03 00:51] jaydson commented on #70
![screenshot from 2015-02-02 22 45 17](https://cloud.githubusercontent.com/assets/72206/6012278/5c2533e6-ab2d-11e4-9fa5-442d7f5180a8.png)
This really annoys me;
Harmonic is JavaScript project. 100% JavaScript.
But we still have CSS in our codebase, because templates are still in the same repo.
I think i'll prioritize the decoupling.

[2015-02-03 01:04] jaydson commented on #112
I think this kind of thing must be offered by a plugin.
But, Harmonic doesn't have (yet) the plugin mechanism :disappointed:
Perhaps i must focus on that too.
We already have the issue #6

[2015-02-03 01:08] UltCombo commented on #112
Gravatar would be just very few lines of code and it is quite popular, but yes, a plugin would be better suited for the task. In the future, if this is as popular as I believe, the plugin could ship with Harmonic by default.

[2015-02-03 01:11] UltCombo commented on #70
@jaydson sounds like a good idea to me. `=]`

[2015-02-03 01:20] UltCombo commented on #112
Closing this issue for now, one can generate the hash manually until the Harmonic Gravatar plugin is made.

[2015-02-03 01:20] #112 closed

[2015-02-03 01:27] UltCombo commented on #113
The problem is, if we centralize all pre-processing in the Harmonic core, then it will be a pain to maintain.

Right now we have Stylus and Less preprocessors built in the core (I believe there's an open issue for Sass as well), then if we're going to pre-process JS as well we will have to add 6to5 (and perhaps Traceur if users want to use it as well), and that would require setting requirements o

[2015-02-03 01:33] jaydson commented on #112
Sure, we can ship cool plugins as much as we want.

[2015-02-03 01:35] jaydson commented on #96
Totally agree.
We just need to assign who will do what.

[2015-02-03 01:36] UltCombo commented on #96
I believe it doesn't matter much who does it, as long as we agree on an API design. `=]`

[2015-02-03 01:37] UltCombo commented on #96
I believe we can assign tasks to ourselves when we start working on them, so others will know there's someone working on it.

[2015-02-03 01:39] jaydson commented on #49
Thanks @UltCombo .
The labels "good first bug" and "Proposal" ire great, we can also use it.

[2015-02-03 02:01] UltCombo commented on #49
@jaydson agreed, feel free to add them. `=]`

BTW, I haven't got to work on browser-sync implementation yet as I have some slightly late projects/tasks -- I said I'd help on gulp-jscs reporters about [a month ago](https://github.com/jscs-dev/gulp-jscs/pull/57#issuecomment-68585387) and just got to it now heh.

[2015-02-03 02:13] jaydson commented on #113
Yep, that's a problem to solve.
I think the best way to deal with this situation will be have a good plugins structure.
With this, we can move preprocessors and all related to 3rd party plugins.

For 6to5 i think we need to work differently, because we're using it in Harmonic's core.

[2015-02-03 02:14] jaydson commented on #96
That's a good approach.
I only want assignment to avoid duplicated development.

[2015-02-03 02:17] UltCombo commented on #113
@jaydson yes, the whole core is transpiled with it.
Thing is, the only file in the core which is supposed to run in a browser is `harmonic-client.js` right now, whose contents could be entirely replaced with `var Harmonic = /*drop JSON-encoded site data object here*/;`

[2015-02-03 02:19] UltCombo commented on #96
@jaydson yes, we can use GitHub's issue assignment for that purpose. `=]`
It would also be nice if we make small, incremental commits (to WIP branches) so that we can give provide opinions/suggestions/help to one another as well. Of course, if you prefer to make huge commits on things that you can handle yourself, there's no problem either.

[2015-02-03 02:37] jaydson commented on #113
Agree.
We can do it by now.
Let's keep it simple, and in the near future we can add full client-side-es20xx code.

[2015-02-03 02:38] jaydson commented on #96
Yep, sounds good :+1:

[2015-02-03 02:39] UltCombo commented on #113
:+1:

[2015-02-03 02:41] UltCombo commented on #113
So should we just set a global variable instead of the class? This will be a breaking change btw.

[2015-02-08 21:57] UltCombo commented on #76
I'll update the code to use ESM syntax then and close this issue.

[2015-02-08 22:55] UltCombo opened #115 "Build should always return a promise"
This will lead to a more consistent API.

[2015-02-08 23:31] #76 closed

[2015-02-09 00:27] UltCombo commented on #103
Many JSHint/JSCS issues regarding ECMAScript 2015 have been fixed -- https://github.com/es6rocks/harmonic/commit/d6408f528d5a789de7a135ca09e4d987be9b969b.

But it got me thinking, if we are going to be using the latest bleeding edge ECMAScript.next features in the future, and these features keep landing first on transpilers than on linters, this would get us into an infinite loop where our code ca

[2015-02-09 00:40] #115 closed

[2015-02-09 00:51] UltCombo opened #116 "Changelog"
It would be nice to have a changelog, such as [npm's](https://github.com/npm/npm/blob/master/CHANGELOG.md).

[2015-02-09 00:55] UltCombo commented on #49
I believe we can deploy Harmonic 0.0.10 after implementing browser-sync, I guess this will be the main feature of the release then. It would be nice to have a changelog (#116) to know the releases' details.

[2015-02-09 13:55] jaydson commented on #76
Awesome work @UltCombo !

[2015-02-09 14:01] jaydson commented on #103
That's true @UltCombo, and hard to solve.
I was thinking about [http://eslint.org/](http://eslint.org/).
I know we can customize the rules, but i didn't dig the docs yet and i don't know how is the support for ES6, ES7, etc.
Perhaps, we can evaluate it.

[2015-02-09 14:02] jaydson commented on #115
:+1:

[2015-02-09 14:03] jaydson commented on #116
Sure!
And we can replicate in the releases https://github.com/es6rocks/harmonic/releases.

[2015-02-09 14:04] jaydson commented on #49
Seems good to me.

[2015-02-09 15:14] UltCombo commented on #76
:smile:

[2015-02-09 15:17] UltCombo commented on #116
Oh, I didn't realize we were logging changes in the releases. IMO it is unnecessary to duplicate the changelog then, we can just use the releases log.

[2015-02-09 15:19] UltCombo commented on #103
Yeah, in my opinion we can keep this as low priority for the time being.

[2015-02-09 15:55] jaydson commented on #116
I don't think it's totally useless.
For those who have the repo cloned can access the changelog info without going to Github.

[2015-02-09 15:57] UltCombo commented on #116
Alright, we can work on it then. `=]`

[2015-02-09 20:44] jaydson commented on #96
WIP > https://github.com/es6rocks/harmonic/commit/432977c7dfc47e944dbb187a65bdf8e249e6e3f4

Basic example using it:
[code]

One of the benefits of a promise-based API: we can use async/await.
[code]

[2015-02-09 21:23] UltCombo commented on #96
Nice! :+1:
Also see https://github.com/es6rocks/harmonic/commit/432977c7dfc47e944dbb187a65bdf8e249e6e3f4

[2015-02-09 21:40] UltCombo commented on #96
While at it, perhaps we should do some major refactoring/code organization? Maybe `parser.js` could become the main Harmonic class.

[2015-02-10 00:58] jaydson commented on #96
Yes, i was thinking exactly the same.

[2015-02-10 19:59] jaydson opened #117 "Code refactoring"
It's time to apply some serious code refactoring on Harmonic.
The project has evolved and we discovered a lot of quirks in tools we're using and within our own code.
As a bleeding-edge project, this kind of thing can happen at any time, and this is awesome IMHO.

I'm labelling this issue with 'discussion' and 'p2' because we need to define some goals first, but after that, refactoring is absolutel

[2015-02-10 20:04] jaydson commented on #96
#117

[2015-02-10 21:20] UltCombo commented on #117
Very nice start! :+1:

We could focus on the API, then the CLI would just have to call API functions behind the scenes. This way we don't duplicate code and it eases keeping feature parity betwen API and CLI.

Other things we should clean up:

- Passing `sitePath` around: currently, most if not all functions in `parser.js` receives `sitePath` as argument (this is kind of a hack I implemented to fi

[2015-02-10 21:47] felipenmoura commented on #117
Really cool.

I believe it would also be cool to have some hooks, like "before building", or for each generated file.
For instance, I would want to get a list of videos from a feed(from my youtube channel) to bind onto a template.

[2015-02-10 23:39] jaydson commented on #117
Great insights here. Thanks both @UltCombo and @felipenmoura.
We can change the `core_modules` folder name, it was just an example.

[2015-02-11 00:37] UltCombo commented on #117
@felipenmoura I believe that fits in https://github.com/es6rocks/harmonic/issues/6

[2015-02-11 01:33] UltCombo commented on #117
@jaydson I think we should do this in small (but "complete") steps. E.g.:

- [ ] Refactor directory structure
- [ ] Break down parser.js into core modules
- [ ] Develop API
- [ ] Refactor CLI to use API calls

---

I don't really care about the name either, it was just a random idea. :stuck_out_tongue:

[2015-02-13 10:03] admcode opened #119 "Tag not declared"
The `<main>` tag was not declared, but it is being ended on the file [tag_archives.html](https://github.com/es6rocks/harmonic/blob/fe57b82680a1757ee046f8615d6b7a1b60b948ac/src/bin/skeleton/src/templates/default/tag_archives.html)

[2015-02-13 12:30] UltCombo commented on #65
Never mind pages, I guess those can be linked manually as ES6 Rocks does at the moment. Anyway, those are not a priority.

[2015-02-13 12:32] UltCombo commented on #119
Nice catch!

However, we should replace that whole template soon (#65), and then it should also be moved to outside of the repository (https://github.com/es6rocks/harmonic/issues/70#issuecomment-72570950).

[2015-02-13 12:33] UltCombo commented on #65
Has anyone started working on this? Otherwise, let's remove the milestone as to not block the next release.

[2015-02-13 12:40] admcode commented on #119
OK!
See you soon!

[2015-02-13 15:32] #119 closed

[2015-02-13 15:33] UltCombo commented on #119
The next release will still ship with this template, so I've fixed this. Thanks for reporting! :smile:

[2015-02-13 16:26] jaydson commented on #65
:+1:

[2015-03-02 01:19] UltCombo opened #121 "Update dependencies and add badge"
We have quite a few outdated dependencies at the moment:

[code]

After updating the dependencies, we can add these badges to help us keep track of the dependencies status:

[![Dependency Status](http://img.shields.io/david/es6rocks/harmonic.svg)](https://david-dm.org/es6rocks/harmonic)
[![devDependency Status](http://img.shields.io/david/dev/es6rocks/harmonic.svg)](https://david-dm.org/es6rocks/h

[2015-03-02 02:01] jaydson commented on #121
Good.
Also, we need to check for unused deps, right?
We're still using `co`?
`less` and `stylus` may be removed when Harmonic finally support plugins.

BTW, what is the best approach updating dependencies?

[2015-03-02 02:09] UltCombo commented on #121
Yep.

[Yes](https://github.com/es6rocks/harmonic/blob/c91bd0cb341e92eb4adac4d1a11f0a423aca2e05/src/bin/cli/util.js#L58). I believe we can drop it after fixing #68 -- though, once we move preprocessors to plugins, there will be little point in changing the prompt module I guess.

Not sure what you really mean, I guess the standard process -- bump to latest version, read docs looking for API changes

[2015-03-06 19:07] jaydson opened #122 "ESLint"
Based on [this tweet](https://twitter.com/geteslint/status/573689939096793089), i think we can soon implement ESLint for code validation.
ESLinit will support all of ES6 features.

[2015-03-06 19:30] UltCombo commented on #122
Nice!

[2015-03-06 22:07] joridos commented on #122
Cool :+1:

[2015-03-08 00:02] UltCombo commented on #122
Or perhaps we can use babel-eslint https://mobile.twitter.com/geteslint/status/573691550841991169
https://github.com/babel/babel-eslint

[2015-03-10 01:12] jaydson commented on #122
That makes sense.

[2015-03-10 01:21] UltCombo commented on #122
Yeah, I've started playing around in slush-es20xx with gulp-eslint using babel-eslint as the parser, and it looks pretty good so far. Looks like it is able to replace JSHint and JSCS entirely.

@jaydson I can land it on Harmonic in the next few days, but I'll need you to set the eslint rules, seeing as the [code style repository](https://github.com/es6rocks/code-style) looks outdated.

[2015-03-10 01:51] jaydson commented on #122
Ok, count on me.
@leobalter, can you help us?

[2015-03-10 18:28] leobalter commented on #122
I'm using JSHint with the `esnext` option on Goiabada - which is entirely written in ES6, it is running flawlessly.

JSHint is much faster as it checks the code without using an AST parser, ESLint uses Esprima 2.0 to parse.

JSHint is supporting almost everything and if you find any missing feature, you can file an issue and it will be fixed probably in the average time of 48 hours. ESLint issues

[2015-03-10 18:50] UltCombo commented on #122
ESLint is fully pluggable (both parser and rules) which is a big plus. This allows using the Babel parser which is 100% compatible with Babel-generated code, including experimental features such as async functions. Using a single library for linting also simplifies the workflow quite a bit.

[2015-03-10 19:24] leobalter commented on #122
AFAIK, Babel are different ESLint tools for different tasks.

How would you use them together? You say you would use Babel inside ESLint to build something?

That's exactly why I'm suggesting to keep JSHint.

[2015-03-10 19:37] UltCombo commented on #122
@leobalter I meant using the [babel-eslint](https://github.com/babel/babel-eslint) parser in ESLint. As the docs say, you just have to install the package and set `"parser": "babel-eslint"` in the `.eslintrc` file. I've tested this with gulp-eslint and it works fine as well.

Actually, we use JSHint for linting and JSCS for code style (although these are currently disabled in this project). ESLint

[2015-03-10 19:40] UltCombo commented on #122
Actually, seeing as ESLint is fully pluggable, we can install ESLint plugins for any missing JSHint/JSCS functionality, so I'm confident that it can easily replace JSHint and JSCS.

[2015-03-11 00:21] UltCombo commented on #122
Also, consider my biggest concern (as expressed in [this other thread](https://github.com/es6rocks/harmonic/issues/103#issuecomment-73442505)):

Using ESLint with the babel-eslint parser completely obliterates this concern, since we use Babel for compiling ES.next code and babel-eslist can lint all code that Babel can compile.

Letting alone that, at a quick glance, (imho) ESLint has a far better

[2015-03-17 04:06] jaydson commented on #116
https://github.com/es6rocks/harmonic/commit/32b91a6b15530014ee3a280b7dec6c7cf136e3d0

[2015-03-17 04:06] #116 closed

[2015-03-17 04:19] UltCombo commented on #116
Nice! :+1:

[2015-03-18 00:00] #121 closed

[2015-03-18 02:11] UltCombo commented on #122
No reply in the last 7 days, hence I assume agreement (or no opposition, at least).

I'll land ESLint on slush-es20xx in the next few days (probably around the weekend).
Integrating ESLint itself is very easy, but I also want to make the incremental build workflow the less painful possible.

This means, while linting rules such as disallowing unreachable code, unused declarations and constant cond

[2015-03-18 02:28] UltCombo commented on #122
I guess it is more logical run unit tests first and then lint, as it is more logical to fix an issue first and only then care about code style/minor mistakes, instead of being pestered by code style/minor mistakes with code that doesn't even work.

A counterargument is that linting can help finding potential errors, such as the cause of an unit test fail, hence linting only when unit tests succeed

[2015-03-18 04:09] jaydson commented on #122
It seems like @UltCombo from the future is having a conversation with @UltCombo from the past.
Nice one :p

Now seriously.
Go ahead with slush-es2xx and let's integrate it in Harmonic.

:+1:

[2015-03-20 04:11] UltCombo commented on #122
Hahah yeah.
I've been working overtime in the last 2-3 weeks, so haven't had much time to update the workflow yet.
Anyway, I've pushed the initial implementation of ESLint (replacing JSHint and JSCS) on slush-es20xx: https://github.com/es6rocks/slush-es20xx/commit/916725e8671e405ef77f0aa7494c5bf207b1871c

I'll improve the workflow according to the comments above around the weekend. Until then, it

[2015-03-22 21:18] italowaxman opened #124 "New logo of Hamornic Project"
Following the concept of brother JS Rocks, the Harmonic new logo uses the same visual and typographic heritage generating uniformity. The two fused thunders give rise to "H" harmonic. Simple, direct and unique. What do you think @UltCombo @jaydson @felipenmoura @robsongajunior @leobalter and others?

![harmonic](https://cloud.githubusercontent.com/assets/2953435/6771529/5a75959c-d0bf-11e4-88d9-247

[2015-03-22 21:27] UltCombo commented on #124
holy..! AWESOME! :star2:
Thanks for the magnificent work @italowaxman, congratz. :smile:

Side note: got to remember to file an issue in the [Babel website repo](https://github.com/babel/babel.github.io) to change our logo once we merge this in.

[2015-03-22 21:37] jaydson commented on #124
:clap: :clap: :clap: :clap:
Awesome job @italowaxman

[2015-03-22 21:42] italowaxman commented on #124
Awesome! We approve now or need some more feedback?

[2015-03-22 21:46] jaydson commented on #124
More than approved.
Can you link here the images so i can update our Github home page?

BTW, i'm thinking about creating an Harmonic's Twitter profile.
Maybe @harmonic_ssg or something like that.

[2015-03-22 21:50] italowaxman commented on #124
Could you provide me the image size of Github home page?

[2015-03-22 21:52] robsongajunior commented on #124
Great Job x)

[2015-03-22 22:02] joridos commented on #124
WOWOW awesome, great work.

[2015-03-22 22:15] jaydson commented on #124
Hey @italowaxman , something that fits well here: https://github.com/es6rocks/harmonic

[2015-03-22 22:16] UltCombo commented on #124
Or we could change the layout a bit, and use the logo replacing the heading text. Thoughts @jaydson ?

[2015-03-22 22:20] jaydson commented on #124
Yep, we can use the logo as a cool header now :)

[2015-03-22 23:16] jaydson opened #125 "Update keywords"

[2015-03-22 23:16] jaydson commented on #125
Metalsmith uses:
[code]

[2015-03-22 23:18] jaydson commented on #125
Docpad uses:
[code]

[2015-03-22 23:23] UltCombo commented on #125
Oh damn, I didn't realize we didn't have keywords in the `package.json`.
I guess we can use a good part of those keywords above. `=]`

[2015-03-22 23:25] jaydson commented on #125
I think a good set of keywords would be:

[code]

[2015-03-22 23:34] UltCombo commented on #125
Perhaps add ES2015/ES2016 as well? I'd also add `jekyll`, seeing as people often search for alternatives using another tool's name.

[2015-03-22 23:47] jaydson commented on #125
I'll add ES2015/ES2016.
About `jekyll`, i don't know. This seems to be like "stealing the game"? Don't you think?
I just don't know if it is a like Google search, you know. When doing something like this is considered bad.
Not technically bad, but seen as bad by the community.

[2015-03-22 23:54] UltCombo commented on #125
I see your point.
I was just thinking about searchability, e.g. people who may use "jekyll" to search for static site generators because they may not know a more generic term.
But yeah, we can live without that keyword, so it is probably better this way. :+1:

[2015-03-22 23:54] UltCombo commented on #125
Issue solved then.

[2015-03-22 23:56] UltCombo commented on #125
Oh, you committed to the `keywords` branch instead of master, let's wait for the merge to close this then.

[2015-03-23 00:26] UltCombo commented on #124
Perhaps we could use the SVG logo directly in the readme and the site?
This way, modern browsers will have excellent rendering independent of resizing/zoom levels (specially useful for mobile devices) and changing the image size is easily done through CSS or HTML attributes.

[2015-03-23 00:38] #125 closed

[2015-03-23 00:40] jaydson commented on #124
:+1:

[2015-03-23 00:47] jaydson commented on #125
@UltCombo now we have to update on npm, right?

[2015-03-23 02:06] jaydson commented on #125
Done.

[2015-03-23 03:06] UltCombo commented on #125
:+1:

[2015-03-23 12:07] italowaxman commented on #124
Today convert the logo to SVG and create the image to github. The SVG file i attached here?

[2015-03-23 12:46] UltCombo commented on #124
@italowaxman yes, I think this one would be a perfect logo/header:
![](http://i.imgur.com/Txayy07.png)

It'd be great if you could provide the SVG version. :smiley:

[2015-03-24 00:28] UltCombo commented on #122
Still in the workflow improvements topic, another pain point is Mocha, or more specifically, the Mocha API.

Although Mocha is an excellent test framework for CLI usage, its API is completely and utterly crap. And this reflects in [gulp-mocha](https://github.com/sindresorhus/gulp-mocha/blob/master/index.js), which is just a pile of ugly hacks around the Mocha API to try to make it usable. Likewise

[2015-03-24 00:44] jaydson commented on #122
The basic rule of software development:
Create a work around layer to solve a work around layer :hankey:

Now, seriously.
What about [Jest](https://facebook.github.io/jest/)? Or even [QUnit](https://qunitjs.com/)?

PS: With QUnit i'm sure we'll have full support from @leobalter :p
And, the new QUnit version seems to be promising.

[2015-03-24 00:55] UltCombo commented on #122
I just noticed Jasmine does not have a built-in equivalent of Mocha's `--bail` yet (https://github.com/jasmine/jasmine/issues/414), there are some hacks around (https://www.npmjs.com/package/jasmine-bail-fast) but yes, I'd rather look for another test framework than start off adding ugly hacks already.

I took a quick glance at Jest a while ago, it seemed a little bit too magical, but that might a

[2015-03-24 01:03] UltCombo commented on #122
Oh, I just found a recipe for QUnit Node.js testing, we could experiment with QUnit too.
Although, it has been over a year and half since the last time I wrote tests in QUnit, I've only actually used it when writing patches to jQuery Foundation projects.

[2015-03-24 01:45] italowaxman commented on #124
Here thw Harmonic Black SVG logo:
https://drive.google.com/file/d/0B_aLtMalJUl7b1dWUlpsaE9XMU0/view?usp=sharing

And here the yellow bolt version of SVG logo:
https://drive.google.com/file/d/0B_aLtMalJUl7U1ZLeDNPMThFN28/view?usp=sharing

[2015-03-24 01:56] UltCombo commented on #124
@italowaxman Nice, though the font-face for "The next static site generator" is different. Did you change it intentionally? Or did you export the SVG from a computer that doesn't have the original font installed? Or was it a problem with the export?

[2015-03-24 01:59] UltCombo commented on #124
@italowaxman Oh wait, it is my computer that doesn't have the `NexaLight` installed. Perhaps you could vectorize the text? Or add a similar fallback font. Right now, Chrome is falling back to Times New Roman, which is a serif font and that doesn't look good with the overall logo design imo.

[2015-03-24 02:12] UltCombo commented on #124
By vectorize I mean, most graphic editors have an option to transform text into curves/vectors. That would be great for portability, so that the logo would render the same everywhere independent of having the font installed.

[2015-03-24 02:14] UltCombo commented on #122
Another option is running Mocha (CLI) in a child process, but that adds 200~300ms per incremental build cycle. We have a good batch logic now, so I don't know if that would actually be a problem.

[2015-03-24 04:19] UltCombo commented on #122
I'm currently considering to use [gulp-shell](https://github.com/sun-zheng-an/gulp-shell) to run the Mocha CLI. Although this theoretically makes the incremental build cycles take longer, there are quite a few pros to this approach:

- Complete isolation:
  - Avoid [tampering with Node's `require` cache](https://github.com/sindresorhus/gulp-mocha/blob/28d11d3260dc63157f3f9af38fdd88d3839ddb1a/index

[2015-03-24 04:31] jaydson commented on #122
@UltCombo , as you've set up everything related to tests since the beginning, i feel comfortable on you deciding what is the best solution here.

My 2 cents:
- It looks like we may have a bunch of failure points (mocha, gulp, gulp-shell...), or am i wrong?
- It looks a little bit complicated just to run tests

But as i said, if you are comfortable with the solution, go ahead.

[2015-03-24 05:07] UltCombo commented on #122
IMO the test framework itself doesn't matter that much, the important part is having tests. And the tests are something we should improve -- right now there are only very basic functionality tests, in an ideal world we should be able to test each tiny part of the codebase. Hopefully we will see improvements in this part while developing the Harmonic API.

Mocha and gulp-shell are not very differen

[2015-03-24 05:43] leobalter commented on #122
I'm gonna answer tomorrow. Short story: QUnit works on node, but the stdout logger is in a PR basically ready to land and release a new version.

The api is opinionated and simple. And yes, I can offer all the needed support.

[2015-03-24 12:19] italowaxman commented on #124
I Just confused the version of the logo and converting that typography was not converted into curves. Follow the correct links, including the nexa light source. Sorry for the confusion ;)

Black:
https://drive.google.com/file/d/0B_aLtMalJUl7cU9wLVVTdU1LQkk/view?usp=sharing
Yellow:
https://drive.google.com/file/d/0B_aLtMalJUl7ekFGZ3hBaTNZcGM/view?usp=sharing
Nexa Light:
https://drive.google.com/ope

[2015-03-24 12:36] UltCombo commented on #124
@italowaxman Nice work! Perfect.
@jaydson which version should we use in the readme and the site?
The all-black one seems fine to me.
The yellow thunder looks okay to me too, but I'm not sure if it wouldn't feel a bit out of place being the only "bright" part.

[2015-03-24 13:05] jaydson commented on #124
The all-black :metal:

[2015-03-24 18:07] UltCombo commented on #124
:metal:

BTW, what do we do with the old logo? Do we just replace it with the new one or rename/move and also keep the old one in the repository?
I guess there's little use to keeping the old logo around, but yeah.

[2015-03-24 18:41] jaydson commented on #124
I think we can keep the old logo in the repo :)

[2015-03-24 18:49] UltCombo commented on #124
See #127

[2015-03-24 19:08] leobalter commented on #122
There's an almost done PR on QUnit to set a stdout reporter: https://github.com/jquery/qunit/pull/790

I'll follow that PR with also a TAP reporter.

Today QUnit works on node, it only misses a reporter for node, which is solved on plugins like node-qunit (which can be used as the current `qunit` module).

[2015-03-24 20:33] UltCombo commented on #122
Thanks for the info @leobalter.

My main concern regarding test frameworks at the moment is whether/how they can be integrated inside of an incremental build environment. As far as I can see, there is no clean way to integrate a test framework through API usage inside of an incremental build (see [my concerns regarding gulp-mocha above](https://github.com/es6rocks/harmonic/issues/122#issuecomment-

[2015-03-25 00:22] #124 closed

[2015-03-25 03:16] jaydson opened #128 "Harmonic website content"
# Harmonic
A static website generator built entirely with the modern JavaScript, a.k.a ES2015/ES6 ES2016/ES7

## Introduction
Harmonic is yet another JavaScript static website generator, but modern.
Harmonic's core is built using the latest JavaScript features.
By using the ECMA-262 Standard we're helping the JavaScript language to evolve and also learning how to play with.
Besides that, Harmonic

[2015-03-25 03:22] jaydson commented on #128
//cc @UltCombo @felipenmoura @leobalter @italowaxman @robsongajunior @mateusortiz

Italo will start to work on the website layout soon, and i want to give him the content.
I wrote the text above as an initial approach.
Reviews are welcome.

@italowaxman, here some references:
http://jekyllrb.com/
http://assemble.io/
http://www.metalsmith.io/
http://octopress.org/docs/

[2015-03-25 07:35] UltCombo commented on #128
Nice!
A couple nitpicks:

- There seems to be a bit too much emphasis and repetition around the word "modern", perhaps we could use synonyms where possible? For instance, "Harmonic's core is built using the modern JavaScript" could be rewritten as "Harmonic's core is built using the latest JavaScript features".

- Not sure about mentioning "ECMA-262" as very few people know what it means, but the

[2015-03-25 08:04] UltCombo commented on #124
@italowaxman Looks like we forgot about the licensing details. Since you're contributing to Harmonic which is MIT-licensed, I assume your work (logo) is also MIT-licensed, right?
This may not matter much to us, but it is important to know when others want to display our branding.

[2015-03-25 12:07] italowaxman commented on #124
@UltCombo when you talk about MIT license and use of the logo by others, would refer to any applicable rule or prohibition on the use of the same? The logo was built in a simple way so that your application is basically done by anyone, anywhere and has visibility in most cases. How about creating a repository on correct application of the logo?

[2015-03-25 12:10] italowaxman commented on #128
@jaydson @UltCombo thank you for the texts and references, now we can start creating the layout. I took a look at the references and I've had some ideas. Yesterday already I cretated a basic concept for Harmonic, I applied this on twitter https://twitter.com/harmonicjs, ever seen? What did you think?I'm planning follow something in that line.

[2015-03-25 13:03] UltCombo commented on #124
@italowaxman Makes sense. Perfects adding a text file to the repository or a page to the Harmonic website would be better. I've sketched up some branding usage here: https://github.com/babel/babel.github.io/issues/201

Perhaps we can add a page to the Harmonic website similar to https://github.com/logos
cc @jaydson

[2015-03-25 13:10] italowaxman commented on #124
@UltCombo https://github.com/babel/babel.github.io/issues/201 it's basically it even had thought. Regarding the idea of doing a page like the Github logos, it's very cool, can pass an air even more professional and confiable. @jaydson what do you think?

[2015-03-25 13:14] UltCombo commented on #124
Nice work, perhaps a bit more of contrast would be nice.

[2015-03-25 13:14] UltCombo commented on #128
Nice work, perhaps a bit more of contrast would be nice.

[2015-03-25 13:21] italowaxman commented on #128
The idea of applying the brand this way was intentional, from a concept of a technology of the future with "transparency" effect. The spotlight will represent something new and extreme fucking god solution ;)

[2015-03-25 13:25] UltCombo commented on #128
Yes, I like the concept, I only meant that it is actually a bit hard to read on my screen.
Perhaps it would be possible to add a bit of contrast while keeping the transparency concept? I'd just like to make it a bit more accessible/easier to read. :smiley:

[2015-03-25 13:29] italowaxman commented on #128
Nice, I will make this change at night. Let's think about accessibility forever.

[2015-03-25 13:33] jaydson commented on #124
:+1:

:+1:

[2015-03-25 13:45] jaydson commented on #128
Thanks @UltCombo. All suggestions were applied.

[2015-03-25 14:08] phenriqueleao commented on #124
Awesome @italowaxman !!!

[2015-03-25 14:11] italowaxman commented on #124
Thx @phenriqueleao ;)

[2015-03-28 17:57] UltCombo commented on #122
ESLint and improved unit tests are already available in es20xx's master branch.
I still want to pack in a couple more features before releasing slush-20xx v2.0.0.
We could merge es20xx's master into Harmonic now for early testing and configuring the ESLint rules.

[2015-03-28 20:48] italowaxman commented on #128
Now, I Present to you the new site Harmonic.
I tried to do something unique and completely different from what I saw out there, I also had the idea of "recruit" contributors to the project. I also tried to simplify the space of information avoiding a long and tedious scrolling.
What did you think?

![harmonic_v1](https://cloud.githubusercontent.com/assets/2953435/6882854/75cb77be-d572-11e4-8e3d-9a

[2015-03-28 21:04] jaydson commented on #128
Holy shit, that's simply awesome.

[2015-03-28 21:13] UltCombo commented on #128
I fully agree. :smile:

[2015-03-28 21:17] italowaxman commented on #128
I'm very happy. Let's Rock!
I tried to really do something a little different from normal to have personality.
Now is to start the front-end to launch in time for the JS Conf Yi.

[2015-03-29 01:45] jaydson commented on #122
Great job @UltCombo !

[2015-03-29 02:01] jaydson opened #129 "Support task runner"
All modern website are built using some kind of `task-runner`.
Harmonic must to support `task-runner` integration in some way.

Maybe a custom CLI command that Harmonic can run after or before the build.
I don't know yet what is the best approach here.

[2015-03-29 03:32] felipenmoura commented on #124
bah! achei que ficou de mais, esse logo!
\,,/

[2015-03-29 04:58] jaydson commented on #128
Little text changes:

"We want you dev" => "We want you"
"Contributions are very welcome" => "If you're a JavaScript hacker, help us!"
"Very easy start" => "Easy to start"
"Now, enter in your website...." => "Now you're ready to go"
"See the Harmonic in action" = "Harmonic in action"
"The website is already online ES6Rocks.com"

In the "in action" section we can structure like this:
## Harmonic in

[2015-03-29 04:59] jaydson commented on #124
English please @felipenmoura

[2015-03-29 05:40] jaydson commented on #128
BTW, http://harmonicjs.com/ is live!

The project is here: https://github.com/es6rocks/harmonic-website

@italowaxman talk with me before start coding, so i can help with the skeleton.

[2015-03-29 12:35] UltCombo commented on #129
You mean, making Grunt/gulp/broccoli/etc plugins to wrap Harmonic?

Once we have an working API, wrapping Harmonic with build tool/task runner plugins will be easy or even unnecessary.

[2015-03-30 00:35] italowaxman commented on #128
After text changes, its a new layout version. What you think?
@jaydson lets start the code this week ok?

![harmonic_v2](https://cloud.githubusercontent.com/assets/2953435/6888657/5b4a83c8-d65b-11e4-85fd-f208902a5363.jpg)

[2015-03-30 01:32] jaydson commented on #129
Let me try to explain what i meant.

Assuming a website with using Grunt as task runner, which have concatenation, lint and minify tasks.
Now, what is the best way to integrate this project with Harmonic?
I mean, the developer want to have Grunt, but want to have the Harmonic logic for posts, pages, categories, etc.
Also, the developer doesn't want to hack and start using the Harmonic API. He just

[2015-03-30 01:41] jaydson commented on #128
Awesome @italowaxman

Little things:
I forget that phrase: "The website is already online ES6Rocks.com"
I think you can just remove it.
The last one, can you find a way to add a section about Harmonic being cross-platform (Linux, Windows, Mac)?

Let's start code!

[2015-03-30 02:16] UltCombo commented on #129
If the developer wants to integrate Harmonic into his gulp/Grunt/etc. workflow, I believe the Harmonic API is best suited for the task. E.g.:

[code]

Then executing `gulp build` will lint and run `harmonic build`.

Is this what you meant?

[2015-03-30 03:24] jaydson commented on #129
No, hahaa.
In this scenario, this simply doesn't scale.
Harmonic API should be helpful for those who wants to create software that has a static generator as dependency.

For websites, i don't think this is a good approach.
Harmonic CLI should be the right tool.
The wesite has static files, tasks, etc. Harmonic's job is help creating pages, templates, articles, etc.
Keep this separated is the point

[2015-03-30 03:40] UltCombo commented on #129
Ohh, I guess I understand it now.

So the use cases are:

1. A Harmonic template needs to compile/minify files before Harmonic generates the pages.
1. The developer wants to post-process the files generated by Harmonic.

Did I get it right this time?

For use case 1, perhaps the currently selected theme could hook into the plugins API.

For use case 2, the developer could `harmonic build && grunt`

[2015-03-30 05:12] jaydson commented on #70
I've started to work on this feature.
The branch was already pushed to the origin: `themes`.

What this branch introduces:
### Themes as npm modules
- Yes :sparkling_heart:
- Themes by convention are prefixed as `harmonic-theme-`.
- Harmonic's default theme is already published => https://www.npmjs.com/package/harmonic-theme-default
- Harmonic default theme on Github => https://github.com/es6rocks

[2015-03-30 05:28] UltCombo commented on #70
Woah, so much awesomeness!
I don't have much time to test right now, but a small improvement idea: we could run `npm install` automatically after `harmonic init`. The [`gulp-install` package](https://github.com/slushjs/gulp-install) comes to mind, there should be non-gulp alternatives as well.

[2015-03-30 21:04] jaydson commented on #70
That's a good idea @UltCombo

[2015-04-02 23:14] UltCombo commented on #117
Can we focus on this refactoring soon? I guess it would be nice to get this done as soon as we merge the currently open big PRs/branches (ESLint, external themes).

@jaydson can we schedule a hangout to work on this?

[2015-04-14 01:15] UltCombo opened #132 "`harmonic init` doesn't install the theme automatically"
This means a fresh `harmonic init` will fail to build/run as the theme is not installed, and will leave most users clueless.

[2015-04-14 06:13] UltCombo opened #133 "Convert logs to thrown errors"
CLI should catch and log their messages.

[2015-04-14 07:20] UltCombo opened #134 "Deprecation warning: moment.lang is deprecated. Use moment.locale instead."
This annoying message originates from [`strings-parser-date`](https://github.com/assemble/strings-parser-date) which is a dependency of `permalinks`.

[2015-04-14 07:21] UltCombo commented on #134
https://github.com/assemble/strings-parser-date/issues/1

[2015-04-14 09:10] UltCombo opened #135 "When ran on an existing site, `harmonic config`'s defaults should be the site's current settings"

[2015-04-14 12:15] robsongajunior commented on #128
Really awesome, Good job  @italowaxman .
Go Go Let's start *---*

[2015-04-14 12:38] italowaxman commented on #128
Thanks for all feedback, i'm very excited with this project. It's link of all the project archives in my dropbox. Any questions?

https://www.dropbox.com/s/i33f3hgyxpcukob/harmonic.zip?dl=0

[2015-04-14 12:46] robsongajunior commented on #128
Thanks @italowaxman.
I will go to  talk with Mateus Ortiz, so let's start code.

: D

[2015-04-14 14:14] jaydson commented on #135
well noted

[2015-04-15 03:25] #80 closed

[2015-04-15 03:31] UltCombo commented on #80
bfe1adacd8257270f0c39d5e4c2f7f99add35979 and https://github.com/es6rocks/harmonic/commit/beb9caff64a1dc4e2bffa0d10184af3d482e73b9 removed all the global variables by either storing their values as properties of the Parser class instance (now called Harmonic class) or returning these values from the functions which generate them and passing them forward as arguments.

[2015-04-15 03:41] UltCombo commented on #80
![](http://gifsec.com/wp-content/uploads/GIF/2014/03/Party-Time-Party-Hard-GIF.gif)

[2015-04-15 03:43] jaydson commented on #80
![](http://i.giphy.com/L2UdIWuCRbUL6.gif)

[2015-04-16 02:18] UltCombo opened #136 "`harmonic config` success message"
Right now, `harmonic config` has the same success message as `harmonic init`:

This doesn't make much sense as the skeleton is already in place when the user runs `harmonic config`.

[2015-04-16 05:06] UltCombo commented on #136
fixed by e20d315fdefc156abcf0fb879136302600d7c0e3

[2015-04-16 05:06] #136 closed

[2015-04-16 05:09] UltCombo opened #137 "Allow multiple `harmonic run` to run at the same time"
Right now, trying to run `harmonic run` while there's `harmonic run` already running will throw an `EADDRINUSE`. We could use different ports.

[2015-04-16 05:11] UltCombo commented on #137
Or the user can just pass a different port argument, doh.

[2015-04-16 05:11] #137 closed

[2015-04-16 05:14] UltCombo commented on #132
fixed by e20d315fdefc156abcf0fb879136302600d7c0e3

[2015-04-16 05:14] #132 closed

[2015-04-16 05:22] UltCombo commented on #65
We now have a default "blank" theme.

But I wonder if we could make it less "blank"? Currently, the default theme has no styling whatsoever, which is really ugly and causes a terrible first impression (imo).

I believe the ideal would be to have a basic and neutral theme (preferably unrelated to JSRocks).

If anything, back when we used to ship Harmonic with the old ES6 Rocks theme, upon running `

[2015-04-16 05:27] jaydson commented on #65
You're totally right.
We need to spend some time building this default-theme, at least we must have a theme that doesn't sucks like we have now.

[2015-04-16 16:33] soapdog opened #138 "Where to place auxiliary files for posts"
Where should I place auxiliary files for posts such as images and downloadable content? Since the public folder is overwritten every time I run the build/run command I am not sure where to place such content.

Shouldn't we have a merge folder that on build would be copied to public much like theme developers do? Without this, harmonic users will need to change the theme node module to carry their

[2015-04-16 18:31] jaydson commented on #138
That's makes sense.
You mean files not related to the theme, right?

I think we lost this feature when we split themes outside harmonic's core.
Do you have a working branch with such feature?

//cc @UltCombo

[2015-04-16 18:32] jaydson commented on #136
Good one.

[2015-04-16 18:35] jaydson commented on #137
LOL

[2015-04-16 18:55] UltCombo commented on #138
@jaydson We could add a `src/resources` directory which gets copied over to `public/resources` on build. Perhaps we could even do it in the existing [`copyResources` method](https://github.com/es6rocks/harmonic/blob/52d0e4d8ad43446b8542a295354850b390a3c127/src/bin/parser.js#L263-L272)

What do you think?

[2015-04-16 19:05] jaydson commented on #138
Yep, should work.
But perhaps, we should copy `src/resources/*` to `public/*`.
I mean, copy just the content inside `resources`.

[2015-04-16 19:07] UltCombo commented on #138
@jaydson sounds good. `:D`

[2015-04-16 19:08] UltCombo commented on #138
And we should copy it after building everything and copying the theme files, so that any of the generated/theme files can be overwritten with a custom user resource.

[2015-04-16 19:10] UltCombo commented on #138
Then it may make sense to split the copying in two methods: `copyThemeResources` and `copyCustomResources` (or `copyUserResources`)

[2015-04-16 19:19] jaydson commented on #138
Good approach :)

[2015-04-16 20:11] soapdog commented on #138
Yep, that sounds good to me. :+1:

[2015-04-16 20:14] jaydson commented on #138
@soapdog

[2015-04-16 20:23] soapdog opened #140 "Proposal for plugin architecture"
Hi Friends,

I have an idea on how to implement plugins for Harmonic that is very lightweight and requires minimal coding. If this idea is accepted then we'd be able to extend harmonic without touch harmonic itself.

All harmonic plugins would be normal node modules that would be installed with npm. These modules would follow a naming convention such as ```harmonic-plugin-*```. The configuration f

[2015-04-16 20:34] soapdog commented on #138
Not yet but I can do it today and send a new PR if you guys want....

[2015-04-16 20:38] UltCombo commented on #140
Awesome. :+1:
We have to consider some details, such as whether the loading order of plugins is important (in that case, an array of plugins would make more sense, or maybe a "priority" config option for each plugin).

[2015-04-16 23:15] soapdog commented on #140
I think that array instead of object is the simplest thing. If we use a priority index then we'll soon write a process scheduler and I am really poor at such tasks...

[2015-04-17 00:06] UltCombo commented on #140
Array sounds good to me. `=]`

[2015-04-17 02:18] UltCombo opened #142 "Remove all `fs.exists`/`fs.existsSync` calls"
Those are deprecated. We can either rewrite the logic to don't need those checks or replace them with [`fs.access`](https://nodejs.org/api/fs.html#fs_fs_access_path_mode_callback). The latter will require a polyfill if we want to keep compatibility with Node.js 0.10.

[2015-04-17 02:27] soapdog commented on #140
What about:

[code]

In this case ```plugins`` has two keys – config and order – which makes it easier to specify and fiddle with the order without the need of moving large quantities of object data chunks.

[2015-04-17 02:44] UltCombo commented on #140
Seems good. What should we do if the `config` and `order` mismatch (e.g. `order` has a plugin which is not in the `config`, or the other way around)?

Let's assume some use cases:

- Some plugins may be able to run with default configs (without the user specifying a config object).
- The user may want to temporarily disable a plugin -- it would be a hassle if the user had to delete the entire conf

[2015-04-17 14:32] jaydson commented on #140
Just wondering, i don't think let the config order in this layer is a good approach.
Perhaps we need programmatic way to deal with.
I mean, something like a `Gruntfile`.
`Harmonicfile`?

So we can do something like this (runtime plugin creation):
[code]
Already defined plugins:
[code]
Too complicated?

[2015-04-17 18:13] soapdog commented on #140
@jaydson that would tie Harmonic usage to developers who know JS. We might want to opt for a simple config file and then it would be easier for a non-programmer to use.

[2015-04-17 18:49] UltCombo commented on #140
I agree with @soapdog.
@jaydson I believe your suggestion would be nice as a skeleton to develop the plugins themselves and to integrate them with Harmonic (that is, can be used for both plugin development and Harmonic API consumption). We just need to somehow pass the config into the plugin when they're loaded via the `plugins` option.

[2015-04-18 02:44] soapdog commented on #140
Also this is an issue of declarative vs programmatic ways to approach plugin configuration. Declarative approach is easier to test and check for errors. The programmatic way is easier to shoot yourself in the foot.

My recommendation is to build a declarative way where plugins are configured using ```harmonic.json``` and once this is done and working then create a new programmatic way of controlli

[2015-04-18 03:52] UltCombo commented on #140
Sounds good to me.

[2015-04-18 03:53] UltCombo commented on #138
Fixed by #141, available since v0.3.0

[2015-04-18 03:53] #138 closed

[2015-04-18 17:09] jaydson commented on #140
Ok, let's do it in a declarative way then.

[2015-04-19 04:27] robsongajunior opened #143 "Less compile"
Today, we use less.parse method on building less.
This method is deprecated, we have to change for less.parse method.

[2015-04-19 06:09] robsongajunior commented on #143
PR opened: https://github.com/es6rocks/harmonic/pull/144

[2015-04-19 14:38] gpedro opened #145 "Recipe to improve theme development workflow"
Hi,
I'm developing and fixing some themes for Harmonic and i felt a slowness in development caused by boring workflow Harmonic. So I created this Gulpfile to improve workflow.

[2015-04-19 17:19] UltCombo commented on #145
Nice!
I think I can merge this into #118 and ship a single watch/live reload task that works for posts, resources and the current template.

[2015-04-19 19:33] UltCombo opened #146 "Normalize directory separator in the generated `harmonic.js`'s `getPosts()` and `getPaths()`'s `file` property"

[2015-04-19 19:38] UltCombo opened #147 "Should not overwrite the existing RSS feed if nothing changed"

[2015-04-19 19:39] UltCombo opened #148 "Without modifying any file, `harmonic build` should generate the same files"
## Cross-platform

- [ ] #84 - Add timezone setting.
- [ ] #146 - Normalize directory separator in the generated `harmonic.js`'s `getPosts()` and `getPaths()`'s `file` property.

## Other

- [ ] #147 - Should not overwrite the existing RSS feed if nothing changed.

[2015-04-19 20:18] UltCombo commented on #148
Although these issues are mostly minor things, the diff is really annoying when deploying the same site on different platforms.

[2015-04-20 23:28] soapdog commented on #147
Can we compute a hash or unique identifier for a build? As in building the site for the same files would result in the same hash being computed. This way we just compare the new build hash with the current build hash, if they are the same, no need to overwrite any RSS.

This hash can be computed concatenating all ```src/``` files and calculating the md5 hash. Since this is a build step, it can be

[2015-04-20 23:44] UltCombo commented on #147
@soapdog I guess that works, but isn't that overcomplicating things a bit?
I was thinking about generating the RSS as usual (in memory), compare with the existing RSS (if any), and only overwrite if there are changes other than the publish date.

Only problem is that by the time we generate the RSS, the `public` dir has already been completely wiped, including the old RSS. I guess this is a big is

[2015-04-20 23:46] UltCombo commented on #147
Actually, if we computed a hash (as you said) and save it to the `harmonic.json` (e.g. `_lastBuildHash`), then I guess we can make it work. :smile:

[2015-04-21 00:19] soapdog commented on #147
Also comparing the RSS to see if everything remain the same but the date in non-trivial if you're doing it right by comparing node contents and attributes. Since Harmonic doesn't maintain a database of built data, its hard for it to detect if it is building the same things over and over or new things.

[2015-04-21 00:47] UltCombo commented on #147
@soapdog Right. But we do have [posts and pages' data](https://github.com/es6rocks/harmonic/blob/0074ccc639dfb7f97b9c182b900902c106f88dc6/src/bin/core.js#L23-L24) -- we could `JSON.stringify` and hash them.

[2015-04-21 00:50] soapdog commented on #147
@UltCombo I like this! Let me try to build a POC...

[2015-04-21 06:19] UltCombo commented on #143
Fixed by #144

[2015-04-21 06:19] #143 closed

[2015-04-21 06:21] UltCombo commented on #142
Making progress: f3a989c48fdc865a2482b0e368a6efab4406f4da
We can replace `fs.exists`+`fs.mkdir` with `mkdirp`.

[2015-04-21 07:32] UltCombo commented on #122
The new workflow has been implemented a while back, and there has only been positive feedback so far.

Closing, please open new issues to discuss specific topics.

[2015-04-21 07:32] #122 closed

[2015-04-21 07:33] UltCombo commented on #79
Now that Harmonic no longer pollutes the global scope, we only need to clean up the API.

[2015-04-28 01:54] jaydson commented on #122
:+1:

[2015-04-28 02:23] jaydson commented on #142
Good stuff.

[2015-04-28 04:45] jaydson commented on #128
ping @robsongajunior @mateusortiz

[2015-04-29 01:43] robsongajunior commented on #128
@jaydson pong!

I will finish template structure this week and I open a PR!
With this, we can start the code .

[2015-04-29 01:44] jaydson commented on #128
:+1:

[2015-04-30 02:21] jaydson opened #149 "Broken Travis and dependencies badge"
After we renamed the org, Travis and dependencies badge were broken.

[2015-04-30 02:24] #149 closed

[2015-04-30 03:34] #49 closed

[2015-04-30 03:37] jaydson commented on #49
![](http://media.giphy.com/media/Z6f7vzq3iP6Mw/giphy.gif)

[2015-04-30 03:40] jaydson opened #150 "Remove all sync calls"
Node.js sync calls became a bad practice (kinda obvious).
So, let's remove all sync call we still have in Harmonic.

[2015-04-30 03:41] UltCombo commented on #150
:+1:

[2015-04-30 04:28] UltCombo commented on #145
Now natively supported in Harmonic@0.4

[2015-04-30 04:28] #145 closed

[2015-04-30 04:30] gpedro commented on #145
thanks! 0/

[2015-04-30 04:50] UltCombo commented on #49
![](http://giant.gfycat.com/TediousBriskCreature.gif)

[2015-05-02 08:10] UltCombo commented on #111
Fixed by #139

[2015-05-02 08:10] #111 closed

[2015-05-02 08:12] UltCombo commented on #113
Fixed by c4753229329ff7db9a8d44de3f3ad8c5ed0152b3

[2015-05-02 08:12] #113 closed

[2015-05-02 08:14] UltCombo commented on #65
Fixed by https://github.com/JSRocksHQ/harmonic-theme-default/commit/9cbd0fc5aabfbcdb95b1acc667aa6e9816a22ef4

[2015-05-02 08:14] #65 closed

[2015-05-03 23:43] jaydson commented on #101
I'll close this issue, because we're currently working on this, and we have another active issue: #128

[2015-05-03 23:43] #101 closed

[2015-05-03 23:45] jaydson commented on #105
We're already using `async functions` yay!
https://github.com/JSRocksHQ/harmonic/commit/c4bb69d0495f6b9d795b1e39075b7f919559fa6b

[2015-05-03 23:45] #105 closed

[2015-05-04 00:33] jaydson commented on #5
Hum, this issue is old, but remains important.

[2015-05-04 00:38] jaydson commented on #70
https://github.com/JSRocksHQ/harmonic/releases/tag/v0.1.0

[2015-05-04 00:38] #70 closed

[2015-05-04 00:38] UltCombo commented on #5
True, we haven't decided how to generate the output and how to integrate it in the templates.

[2015-05-04 04:12] jaydson opened #151 "i18n wrong behavior"
For websites with no i18n, the link path is not being filled due to an issue in the permalink validation.

[2015-05-04 04:13] #151 closed

[2015-05-06 23:28] #150 closed

[2015-05-07 01:45] UltCombo opened #153 "Watch-rebuild-reload tweaks"
- [ ] Should always deliver the browser-sync snippet when requesting a html file, even while building ([ref](https://github.com/JSRocksHQ/harmonic/blob/bc17c826f6d946ce6cdff99b939bb53fcbc93680/src/bin/cli/util.js#L196))
- [ ] When editing the `harmonic.json` and changing the selected theme, should update the watch targets ([ref](https://github.com/JSRocksHQ/harmonic/blob/bc17c826f6d946ce6cdff99b93

[2015-05-08 04:28] jaydson commented on #108
I'll close this issue. Look at the code is the best way to check Harmonic's features.

[2015-05-08 04:28] #108 closed

[2015-05-08 04:38] jaydson commented on #140
@soapdog any progress on the plugin stuff?
If so, i want to help build it.

[2015-05-08 12:58] UltCombo commented on #108
:+1:

[2015-05-13 17:28] soapdog commented on #140
I was waiting for us to agree. I will build a tiny POC and share as a branch here.

[2015-05-13 18:45] jaydson commented on #140
:+1:

[2015-05-18 16:39] soapdog opened #155 "change markdown header format to be more flexible"
Hey Friends,

Been working here trying to convert my docpad site to harmonic and stumbled upon some issues one of which is that I am using the document/post/page header to convey more data to the template than what we can currently do in harmonic.

One example is a post where I want to list links that are related to the article at hand. On my current site source, I have an array of objects in the

[2015-05-18 16:47] UltCombo commented on #155
I believe YAML would take a bit longer to parse, but it seems like a good choice IMHO.
Feel free to experiment and send a PR. :)

[2015-05-18 16:50] UltCombo commented on #155
@soapdog By the way, since you've already contributed substantially to the project and we are adopting the "open open source" governance model (or something like, @jaydson and I are still ironing the details), we can provide you with commit access to the repo if you'd like.

[2015-05-18 17:08] jaydson commented on #155
Hey @soapdog, you are talking about [marked-metadata](https://www.npmjs.com/package/marked-metadata) module, right?
I think i didn't understand the problem you pointed.
I've built the `marked-metadata` module because i wanted exactly what you said, more flexibility in the posts data than `marked` module have.

About YAML, i think we can support it, but not just YAML.
There's no reason to throw awa

[2015-05-18 17:16] UltCombo commented on #155
@jaydson does marked-metadata support arrays/objects as values of a key? That's what @soapdog is proposing as far as I can see.

[2015-05-18 17:18] jaydson commented on #155
Actually, i don't know ahahah

[2015-05-18 17:22] jaydson commented on #155
I think it supports JSON.

[2015-06-23 01:36] viniciusdacal opened #157 "Post resume"
Does Harmonic have something like the [post.excerpt](http://jekyllrb.com/docs/posts/#post-excerpts) from jekyll? that takes the first paragraph from a post?

[2015-06-23 02:02] UltCombo commented on #157
Yes -- in the index and category pages, the excerpt part (before the ``) is available as the post metadata's `content` property:

[code]

IMO this seems a bit confusing though, as in the posts the `post.content` returns the full post content.

It would perhaps be a good idea to rename or alias the excerpt property and make it available on all generated content that involves posts.
/cc @jaydson

[2015-06-23 02:07] UltCombo commented on #157
Actually, I believe the post excerpt is also available in the the posts template as `post.metadata.content`.

I believe "content" is a rather confusing name for an excerpt, we should rename or at least alias it (depending on how many harmonic-themes are published on npm).

[2015-06-23 02:18] UltCombo commented on #157
Or we can just create a new property and keep the old one for back-compatibility:

- `metadata.content`: the content prior to ``, or the full content if there is no ``
- `metadata.excerpt`: the content prior to ``, empty string if there is no ``

@jaydson WDYT?

[2015-06-23 02:22] viniciusdacal commented on #157
Thanks, works perfectly here.

[2015-06-28 02:21] brenopolanski commented on #134
I'm with this problem too :\

[2015-06-28 02:40] UltCombo commented on #134
It is just a warning -- a really ugly one, but doesn't affect functionality at all.
The ways to fix it would be:

- Fix the root of the problem -- https://github.com/assemble/strings-parser-date/issues/1
- Send a patch to [permalinks repo](https://github.com/jonschlinkert/permalinks) to no longer depend on `strings-parser-date` -- https://github.com/jonschlinkert/permalinks/issues/1
- Replace Harm

[2015-07-04 19:20] viniciusdacal commented on #140
some news about plugin support?

[2015-07-06 20:05] leobalter opened #159 "read data from yaml files"
Just like #155, harmonic can fetch data from yaml files.

Replacing a config.json with a config.yaml would be nice and a good alternative for other devs.

I wish I could have available time to write a PR, but I can't promise anything.

[2015-07-06 20:10] UltCombo commented on #159
Implementing it shouldn't be too hard, but I wonder what to do in some edge cases. What if there's a `config.json` and `config.yaml` in the same directory? One takes precedence over the other? Merge both of them? Throw an error? Whatever decision is taken, it would be nice to have documented.

[2015-07-06 20:12] leobalter commented on #159
stablish an order (json first, perhaps) and a output non-blocking warning.

[2015-07-07 15:31] viniciusdacal commented on #73
@UltCombo Any news about this issue?

[2015-07-07 15:35] viniciusdacal commented on #128
Any news about the website? If you guys need, I would like to help.

[2015-07-07 16:30] UltCombo commented on #73
@viniciusdacal well, Jaydson has proposed a fix for this in #97 but there were a few issues and that PR is obsolete now. It shouldn't be too hard to fix though.

[2015-07-07 19:14] jaydson commented on #73
This issue was lost in time.
![](http://static.tumblr.com/7bbb50d6e97eccd7f1c8266ced7e7763/kovghdw/Eoxmzzar3/tumblr_static_lostintime.jpg)
But @UltCombo is right, it's simple to fix it.
I can do it soon, but you're welcome to try @viniciusdacal :)

[2015-07-07 19:17] jaydson commented on #128
That's awesome you want to help @viniciusdacal !
I know @robsongajunior is working on it, but you can help us to put this live soon.

@robsongajunior what we still need to finish the website?

[2015-07-07 19:26] jaydson commented on #159
Yep, JSON first makes sense, as it was first supported.

[2015-07-07 19:29] jaydson commented on #140
Nope. Harmonic still lacks on plugin support :cry:

[2015-07-07 19:30] jaydson commented on #128
Hey @viniciusdacal , @robsongajunior os working on the website here: https://github.com/JSRocksHQ/harmonic-theme-selfblog

[2015-07-07 19:32] UltCombo commented on #140
@soapdog by the way, did you manage to start a PoC?

[2015-07-07 23:34] viniciusdacal commented on #128
@jaydson thanks, I'm going to check there.

[2015-07-08 16:02] viniciusdacal opened #160 "Lint errors"
I've got many lint errors trying to run `npm run dev`

[code]

I'm going to fix and send a pull request.

[2015-07-08 17:13] jaydson commented on #160
Hey @viniciusdacal, thanks for pointing this.
As far as I know, we have this lint errors because we didn't fixed them when we introduce ESLint.
Am I right @UltCombo ?

It'd be awesome if you can fix those lint errors @viniciusdacal

[2015-07-08 17:23] UltCombo commented on #160
Thanks for working on this. `=]`
I haven't prioritized "fixing" all these linting issues because some are actual errors, while others just need tweaking the `.eslintrc` settings or adding ignore comments on a case-by-case basis.

E.g., while `no-process-exit` exit is a good directive for API usage, in the CLI we'd rather log a descriptive error message and exit instead of throwing an error with us

[2015-07-08 22:52] jaydson opened #161 "Unable to use page meta-data inside in pages"
I just figure out users are unable to use pages meta-data inside in the pages context.
Example:
I want to list all pages I have in a template (imagine a menu).
This can be done easily in the `index.html` template, or even in partials (in the index context):
[code]
Why this is possible?
Looking at Harmonic's code (src/bin/parser.js) in the function ` generateIndex`:
[code]
As you can see, we're bin

[2015-07-10 17:44] soapdog commented on #140
I did but I think I could use some help. Will post it to a branch and get back here.

[2015-07-10 18:34] #160 closed

[2015-07-11 05:05] jaydson opened #164 "Dynamic template pages"
Harmonic's current implementation work with just 3 template files: `index.html`, `post.html`, `page.html` and `tags_archives.html`.
This is fine for a simple blog, but for a dynamic web site, this is not  very useful.

What I mean is we need a better way to handle various page templates, not just the current ones.
Also, this must to be dynamic, if I want a new page template, I want to create it by

[2015-07-11 15:11] viniciusdacal commented on #164
currently it's static what template we use to generate pages:
[code]
maybe we could just read an atribute `layout` inside md files and use it to decide what template we should use to render the page.

Actually, we already have this attribute inside md files by default
[code]

[2015-07-11 15:21] viniciusdacal commented on #164
And, we could have a way to create more html pages inside theme, working the same way as index.html, which we render just with `config` and `metadata`.

[2015-07-11 16:54] UltCombo commented on #164
:+1:

So, `post`, `page`, `index` and `tag_archives` are built-in (required, customizable) templates, and you can create new ones by placing `.html` files inside the theme package. And to create a new page, run `harmonic new_page` and change the `template` markdown metadata to the name of the template file (without the `.html` extension).

What do you guys think? I believe it can't get much simple

[2015-07-11 17:19] jaydson commented on #164
That's a great idea guys!
I'll try to make this when I have a free time.
Please let me know if one of you want to start something.

[2015-07-11 21:09] #73 closed

[2015-07-12 03:38] jaydson commented on #73
\o/

[2015-07-13 02:29] viniciusdacal opened #166 "pages variable haas all pages instead having just english pages or portuguese pages"
Inside index.html, when we try to access variable `posts`, we got posts from a specific language.
With recently changes in pages, we added support for multiple language, but we didn't change var `pages` structure, so we are receiving all pages inside index template.
How about we change it's structure to be equal var `posts`.

Above that, I did notice we can't access var `pages` inside pages templa

[2015-07-13 02:34] UltCombo commented on #166
How about we change it's structure to be equal var posts.

:+1:

Above that, I did notice we can't access var pages inside pages template.

See #161

[2015-07-13 02:58] viniciusdacal commented on #166
Thanks @UltCombo
I will work on var `pages` structure, and I'll send a pull request soon.
After that, I'll try to figure out something about #161, because I need that to migrate my blog.

[2015-07-14 04:23] #166 closed

[2015-07-21 03:29] UltCombo opened #169 "`metadata.default_lang` is reversed"
Why is the [`default_lang`](https://github.com/JSRocksHQ/harmonic/blob/c407fc6424eba447e8cdc08fc46d4ef8b2ec7f2a/src/bin/parser.js#L264) metadata property representing the opposite of whether the post is in the default lang?
Any ideas, @jaydson?

Fixing this will break all existing themes that rely on it.
I propose adding a new property, `metadata.isDefaultLang` implementing the correct behavior, a

[2015-07-21 03:55] jaydson commented on #169
I think this `default_lang` was used to check if there's a default lang, not to check if the post is the default lang.
Perhaps it can be changed and there's no need for it anymore.

[2015-07-21 16:24] viniciusdacal commented on #164
@jaydson did you start something? I think I'll have a free time today.

[2015-07-22 02:45] jaydson commented on #164
Nope, not yet.
Feel free to start :+1:

[2015-08-03 01:07] UltCombo opened #171 "Consider not overriding babel-runtime's Promise"
We currently override [babel-runtime's Promise](https://github.com/JSRocksHQ/harmonic/blob/master/entry_points/harmonic.js#L4) in Harmonic's CLI mode so that we can [report unhandled promise rejections](https://github.com/JSRocksHQ/harmonic/blob/master/entry_points/harmonic.js#L5-L8) in Node.js (io.js supports this natively).

We should remove this hack once Node.js and io.js are merged and Node.j

[2015-08-03 02:40] UltCombo commented on #164
Fixed by #170.

[2015-08-03 02:40] #164 closed

[2015-08-03 02:41] UltCombo commented on #128
Seeing as the site is already live, can we close this issue? @jaydson

[2015-08-03 02:44] UltCombo commented on #134
Fixed by https://github.com/assemble/strings-parser-date/commit/ecb53fa33dd63ea5a283734374de1efbeb37a696.

[2015-08-03 02:44] #134 closed

[2015-08-03 02:47] UltCombo commented on #88
Superseded by #5.

[2015-08-03 02:47] #88 closed

[2015-08-03 02:58] UltCombo commented on #157
I still think we should create a better alias, so keeping this issue open for now.

[2015-08-04 02:13] jaydson commented on #128
Sure! Thanks @UltCombo

[2015-08-04 02:13] #128 closed

[2015-08-04 02:14] jaydson commented on #134
:sunglasses:

[2015-08-04 02:17] jaydson commented on #157
Yes, you're right @UltCombo, it's confusing indeed.

    metadata.excerpt: the content prior to , or empty string if there is no

Sounds good to me

[2015-08-12 19:29] UltCombo opened #172 "ESLint config: use the "nofunc" additional option in `no-use-before-define`"
This has caused quite a few refactoring hazards as seen [here](https://github.com/JSRocksHQ/harmonic/pull/162/files#r34251268).

We should add the `"nofunc"` option to the [no-use-before-define](http://eslint.org/docs/rules/no-use-before-define) rule config in order to ignore function declarations.

What do you guys think?

/cc @viniciusdacal @jaydson

[2015-08-12 19:31] UltCombo commented on #172
What I mean is, we should add the `"nofunc"` option to the [no-use-before-define](http://eslint.org/docs/rules/no-use-before-define) rule config in order to ignore function declarations.
What do you guys think?

[2015-08-12 19:52] viniciusdacal commented on #172
Yeah, I think it's a great idea :smile: . As you said before, a function it's available in the entire scope.
I don't think that's is a bad practice, if we look for some "clean code" practices, like the "The Step- down Rule", that kind of situation will happen always.

[2015-09-01 04:25] UltCombo opened #173 "Expose the current language to templates"
All templates (index, post, page and category) should have a global variable indicating in which language it is being rendered.

This, coupled with config's custom properties, will allow for rudimentary i18n using keyed dictionaries. There are many other interesting language-specific use cases that this will cover as well.

As for the naming, I believe `lang` is a suitable global variable name.

[2015-09-01 04:46] #173 closed

[2015-09-02 00:43] jaydson commented on #173
Hey! Thanks for this @UltCombo !

[2015-09-02 03:33] viniciusdacal opened #175 "Access to next and previous post in metadata"
@UltCombo @jaydson
Would be nice if we could access some metadata about next and previous post from the current post.
That would be usefull to make previous and next links, as we can see here
[http://www.viniciusdacal.com/pt/iniciante/2015/01/29/o-basico-do-basico-do-git-e-do-github.html](http://www.viniciusdacal.com/pt/iniciante/2015/01/29/o-basico-do-basico-do-git-e-do-github.html)
What do yout

[2015-09-02 04:51] jaydson commented on #175
Yep, that's sounds like a good idea.
But, I don't know exactly where to put those informations.
Perhaps we can focus on improve the issue #5 and have a full solution for pagination.

[2015-09-02 05:20] UltCombo commented on #175
Exposing a next/prev link on the post template (and perhaps the page template now that we're merging their generation code) sounds good to me.

I'm just not sure how complex it would be to implement. Right now, we generate posts in parallel and sort their metadata after all posts are generated.

I believe this would require reading all posts' metadata, normalizing and sorting them before starting

[2015-09-05 19:24] #169 closed

[2015-09-08 01:21] #172 closed

[2015-09-08 01:30] UltCombo commented on #172
:sweat_smile: This somehow fell off my radar, fixed now.

[2015-10-29 03:09] jaydson opened #178 "Replace co-prompt"
As @UltCombo suggestion, we can use `Inquirer` or something similar.
So then we can completely remove `co` dependency.

[2015-10-29 03:14] UltCombo commented on #178
:+1:
After we have Inquirer, we should be able to offer [list selections](https://github.com/SBoudrias/Inquirer.js/#list----type-list-) to suitable prompts (related: #68).

[2015-12-03 15:38] UltCombo opened #179 "Integrate Greenkeeper"
So we don't have to check for outdated dependencies manually. http://greenkeeper.io/

[2015-12-04 02:16] jaydson commented on #179
Sounds good.

[2016-01-08 12:46] UltCombo opened #180 "Getting more done in GitHub with ZenHub"
Hola! @UltCombo has created a [ZenHub](http://www.zenhub.io) account for the **JSRocksHQ** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub account.

[2016-01-08 12:50] UltCombo commented on #180
The Trello-like issues board seems useful, I'll be using it. Install ZenHub if you would like to view and edit it as well. :smile:
/cc @JSRocksHQ/owners @JSRocksHQ/trusteeship

[2016-01-09 05:01] jaydson commented on #164
This was never released?

[2016-01-09 05:17] jaydson commented on #161
This issue was solved by #166?

[2016-01-09 05:23] jaydson commented on #69
This is too old and we'll not support SASS, so I'll close it.

[2016-01-09 05:23] #69 closed

[2016-01-09 18:25] UltCombo commented on #69
Sass can be supported through plugins, once we implement the plugins architecture (#140).

[2016-01-09 19:29] UltCombo opened #181 "Migrate documentation to inside the repository"
I'm considering to migrate the docs from the Wiki to inside the main repository.

Sindre Sorhus has laid some [interesting points](https://plus.google.com/+sindresorhus/posts/QSS2du26Mg4) for this. I believe the main point is that having the docs inside the repository would enable us to update the documentation and review it in the same pull requests that add or modify behavior, thus making it muc

[2016-01-09 19:34] UltCombo commented on #164
@jaydson That's true. If I recall correctly, the release was pending an Wiki update and changelog.

By the way, I'm proposing #181 in order to improve the way we maintain documentation and avoid cases such as this.

[2016-01-09 20:00] UltCombo commented on #161
I believe #166 was related to a pages i18n issue. This issue is about exposing all pages' metadata to every generated page, right? I believe that is not working yet.

Note that `generatePages` and `generatePosts` have been merged into the `generateFiles` method, so our code base is a bit different now. I believe we can just expose all the posts and pages metadata from the language that are compili

[2016-01-09 20:09] UltCombo commented on #161
On a second thought, the `generateFiles` method currently only has access to one given file type (`post` or `page`)'s metadata at a time, so while it is possible to expose all pages' metadata to every generated page, we wouldn't be able to expose all pages' metadata to generated posts—I think that would be useful too, don't you think?

Note that, currently, as `generateFiles` only access one given

[2016-01-09 22:13] jaydson commented on #69
Yep, that's true. But it makes sense to keep this issue closed, right?
Maybe we can focus on Sass support in the future.

[2016-01-09 22:15] jaydson commented on #164
:cry:
I was trying to build something yesterday and noticed it was missing.

I'll check #181.

Thanks @UltCombo

[2016-01-09 22:16] jaydson commented on #181
Totally agree.
Let's go forward with this.

[2016-01-09 22:19] UltCombo commented on #69
Yeah, sure—it does not belong in the core, and the plugin(s) (Ruby Sass, node-sass) can even be made by the community in the future.

[2016-01-09 22:21] jaydson commented on #161
Yeah, I was wondering about that.
I think all data should be exposed.

Use cases:
- A static page may have posts data
- A specific post may have pages data
- All templates and partials may have posts, pages, config and so on.

[2016-01-09 22:25] UltCombo commented on #181
Great. :)

My plan is:
- Clone the Wiki repository (https://github.com/JSRocksHQ/harmonic.wiki.git) and put its contents in a `doc` directory, fixing relative links as needed.
- Edit the Wiki pages to link to the main repository's `doc` directory and lock down the Wiki to contributors only, in order to avoid misplaced contributions from the public that would be missed.

[2016-01-09 22:31] UltCombo commented on #161
:+1:
We just need to get it done, then.
In the future, we can think about normalizing the template data across all kinds of templates, that is, making the template data structure as similar as possible across different templates in order to reduce the cognitive overhead.

[2016-01-09 22:32] jaydson opened #182 "Thoughts on React"
I was playing with React recently and wondering about implement it in my personal Blog.
Then I realized it may be interesting to support it and build the generated Harmonic interface with React.
The currently code generated by Harmonic is kind of (BUZZ WORD ALERT) isomorphic. Basically, all data we have access in the back-end we also have in the front-end.
Sure, it is not well documented and poorl

[2016-01-09 22:33] jaydson commented on #69
:+1:

[2016-01-09 22:34] jaydson commented on #181
That's sounds like a good plan :+1:

[2016-01-09 22:41] UltCombo commented on #182
I'm not quite sure how React would help us. Are you proposing to replace Nunjucks with React?

I prefer the "universal" buzzword hahah. :smile:

[2016-01-10 01:47] jaydson commented on #182
Nope. They should work together.

I'm not sure either how React can truly help us, but I'm pretty sure we can benefit from everything React brings as benefits both for the server and for the client.
What comes to my mind first is the use of shared components and the possibility to render statically (render components as HTML integrated with the templates and partials) or dynamically (via JavaScrip

[2016-01-10 03:48] UltCombo commented on #153
[ ] Should properly invalidate the templates cache (remove from the `templates` object when edited)

[2016-01-11 01:16] jaydson opened #184 "Harmonic's fresh new build issues"
I'm trying to build Harmonic and it's not working properly.

Node.js version: 5.4.0
npm version: 3.3.12
OS: Ubuntu 14.04

Steps to reproduce:
- Clone harmonic's repo
- `npm link`
The `link` command seems to work.
But when I tried to run Harmonic on terminal, i have the following error:
[code]

Then I tried to run `npm run dev`:
[code]

I'm investigating this right now, but I want to keep the histo

[2016-01-11 01:26] jaydson commented on #184
It looks like the documentation is wrong.
I have everything working now, here's the steps:

- Clone the repo
- `npm install`
- `npm run dev`
- `npm link`

Thoughts @UltCombo ?

[2016-01-11 01:27] UltCombo commented on #184
I can confirm the build (`npm test` / `npm run dev`) is failing, seems to be due to a bug in ESLint or babel-eslint. We can try updating these to latest, though I'd like to land these changes on es20xx simultaneously. In fact, I already have the latest ESLint working on an es20xx-generated project, I just have to apply these changes to es20xx and Harmonic.

The `link` issue seems to be due to the

[2016-01-11 01:33] #181 closed

[2016-01-11 01:39] jaydson commented on #181
:sunglasses:

[2016-01-11 01:40] jaydson commented on #184
So, fixing the documentation and updating es20xx will solve the problem, right?

[2016-01-11 01:46] UltCombo commented on #184
I'll update our ESLint-related dependencies and migrate our `.eslintrc` to the new version's format. That should fix the issue.

[2016-01-11 01:46] jaydson commented on #184
:+1:

[2016-01-11 01:49] UltCombo commented on #181
I'll update the Wiki pages to link to the new docs after fixing the P1 issues.

[2016-01-11 01:53] UltCombo commented on #184
I'm updating npm and doing a clean `npm install` to make sure that the issue is fixed.

[2016-01-11 02:04] UltCombo commented on #184
I've committed 77b6555c400b9fc93cdb34159c156366c5b90347, now `npm run dev` should at least generate the `dist` directory properly.

Though, I'm not getting a different error with ESLint:

I'm not sure if this is a problem with my installation, but at least it is not breaking the build.

[2016-01-11 02:21] UltCombo commented on #184
@jaydson Can you check if the build is working for you?

[2016-01-11 02:24] jaydson commented on #184
You mean trying to build from zero again?

[2016-01-11 02:33] UltCombo commented on #184
`git pull && rm -rf node_modules && npm i`

[2016-01-11 02:54] jaydson commented on #184
It worked.

[2016-01-11 02:58] UltCombo commented on #184
Is ESLint working correctly for you?

[2016-01-11 04:35] UltCombo commented on #184
The problem with ESLint was that npm@3's maximally flat dependencies tree was using an outdated `babel-runtime` dependency for `babel-eslint` due to our own `babel-runtime` being outdated. This should fix it: 98f4486e8208bdda49c9c2c5a2ff36add3ff606c

[2016-01-11 04:35] #184 closed

[2016-01-11 05:52] UltCombo commented on #181
The Wiki now links to the Harmonic repository's docs.

[2016-01-11 17:06] jaydson commented on #181
Awesome, thanks @UltCombo !

[2016-01-11 17:37] UltCombo commented on #181
Yay, new docs!

![](http://i.giphy.com/LkjlH3rVETgsg.gif)

[2016-01-12 05:39] UltCombo opened #185 "Link to the Harmonic site in the repository description"

[2016-01-12 05:42] UltCombo commented on #185
Done. The [repository](https://github.com/JSRocksHQ/harmonic)'s description now links to http://harmonicjs.com/
Thanks @ftonato for noticing the missing link.

[2016-01-12 05:42] #185 closed

[2016-01-12 06:34] UltCombo opened #186 "Nunjucks escaping"
Nunjucks@2 [escapes all output by default](https://mozilla.github.io/nunjucks/api.html#autoescaping).

In order to be able to update to `nunjucks@2`, we must either create `SafeString`s where appropriate (e.g. `marked`'s output) or set the `autoescape` option to `false` to preserve the old-behavior. I'm tending towards the former approach, which should be safer.

[2016-01-12 10:06] ftonato commented on #185
:+1:

[2016-01-12 15:05] ftonato opened #187 "Feature to change post language"
I suggest creating a feature to change or select the language of the post I'm reading.

Then in each post show an option to translate to other available languages, so the user does not need to change the blog's language and access the post again.

[2016-01-12 15:10] UltCombo commented on #187
In the Harmonic side, when rendering posts and pages we can add a new template data variable such as `postTranslations`, `fileTranslations`, `availableTranslations` or just `translations`. This would be an array of language names that contain a file with the same name as the current one.

Then we can think about implementing an UI in the `harmonic-theme-jsrocks`. :smiley:

[2016-01-29 06:57] #186 closed

[2016-01-30 08:42] UltCombo commented on #180
I'm closing this as it is not really an issue.
I'll still be using ZenHub features, so feel free to install the extension if you want to make use of the boards and its other features.

[2016-01-30 08:42] #180 closed